option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-1:407510763690:certificate/31336c03-9851-467b-a99c-578479361144
    Protocol: HTTPS

  aws:elbv2:loadbalancer:
    IdleTimeout: 300

Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP
