option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-1:473318664541:certificate/78634bd0-b992-44d1-81f3-da0c52b7ba24
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP