/* FONTS & COLORS */

:root {
    /* PRIMARY COLORS #000e22;*/
    --background: #120c1a;
    --header-background: #312244;
    --navbar-text: #e6f1ff;
    --primary-accent: #e6f1ff;
    --primary-accent-activated: #8892b0;
    --secondary-accent: #077179;
    --secondary-accent-activated: #028486;
    --next-accent: #118d4f;
    --next-accent-activated: #099c52;
    --flag-accent: #b14646;
    --flag-accent-activated: #cf4b4b;
    --incomplete-color:#b2eebf;
    --incomplete-color-actived:#8fe2a1;
    --complete-color:#96a5d4;
    --complete-color-actived:#738fe6;
    --progress: #96a5d4;

    /* TRANSPARENT COLORS */
    --transparent-background: #120e1479;
    --table-background:#120e149a;
    --transparent-task: #0a192fce;
    --transparent-shadow:#00000033;
    --transparent-hover:#e6f1ff50;

    /* FONTS */
    --header-font: "Lato", sans-serif;
    --body-font: "Lato", sans-serif;
    --monospace-font: "Lato", sans-serif;
  }

/* Formatting -- some of this is no longer required with the navbar*/

.midMainContainer {
    border-radius: 12px;
    background-color: transparent;
    width: 96%;
    height: 90% !important;
    margin-top: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    transition: 0.3s;
}


.left {
    border-radius: 12px;
    background-color: transparent;
    flex-grow: 6;
    order: 1;
    height: 95%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right {
    background-color: transparent;
    flex-grow: 1;
    order: 2;
    height: 95%;
    width: 15%;
    margin-right: 1%;
    overflow: auto;
    overflow-x: hidden;
}

/* CONTAINERS */
.taskQueue {
    border-radius: 8px;
    background-color: var(--transparent-background);
    position: relative;
    max-height: 70%;
    overflow: auto;
    width: 95%;
    margin-top: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display:inline-block;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    overflow-x: hidden;
}

.buttonBox {
    background-color: transparent;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.buttonBox.end {
    margin-bottom: 2%;
    margin-right: 2%;
    position: relative;
    bottom: 0px;
    right: 0px;
    clear: both;
    padding-top:20px;
}

.taskTitle {
    font-family: var(--header-font);
    color: var(--primary-accent);
    /*font-weight: bold;*/
    font-size: 10px;
    font-size: 1.2vw;
    order: 1;
    flex-grow: 2;
    padding: 0px 20px 0px 25px;
    text-align: left;
    align-items: left;
    text-decoration: none;
}

.title {
    box-shadow: 0 4px 8px 0 var(--transparent-shadow);
}

.neuroGlancer {
    box-shadow: 0 4px 8px 0 var(--transparent-shadow);
    border-radius: 8px;
    border: 1px solid var(--background);
    flex-grow: 10;
    margin-top: 1%;
    margin-bottom: 1%;
}

.bottomBar {
    box-shadow: 0 4px 8px 0 var(--transparent-shadow);
    flex-grow: 1;
    order: 2;
    padding:1%;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid var(--primary-accent-activated);
    height: 5% !important;
    width: 95%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shareNGView {
    font-family: var(--body-font);
    color: var(--primary-accent-activated);
    font-size: 100%;
    order: 2;
    flex-grow: 1;
}
.button {
    font-family: var(--monospace-font);
    background-color: transparent;
    border-radius: 8px;
    border: 1.5px solid var(--secondary-accent);
    color: var(--secondary-accent);
    margin: 0 0 10 10px;
    width: 50%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button:hover{
    background: var(--secondary-accent-activated);
    color: var(--background);
}

.button.flag{
    border: 1.5px solid var(--flag-accent);
    color: var(--flag-accent);
  }

.button.flag:hover{
    background: var(--flag-accent-activated);
    color: var(--background);
}

.button.next{
    border: 1.5px solid var(--next-accent);
    color: var(--next-accent);
}

.button.next:hover{
  background: var(--next-accent-activated);
  color: var(--background);
}
.instructions {
    font-family: var(--monospace-font);
    background-color: var(--transparent-background);
    border-radius: 8px;
    border: 1.5px solid var(--secondary-accent);
    color: var(--primary-accent);
    margin: 0 0 10 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    font-size: 14px;
  }

/* PROGRESS BAR */

.progress {
    margin-left: 5%;
    background-color: transparent !important;
    border: 2px solid var(--primary-accent-activated);
    border-radius: 20px !important;
    width: 85%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.progress-bar {
  float: left;
  }

.progress-bar.color {
    margin: 0 0px;
    border-radius: 20px;
    background-color: var(--progress);
    text-align: right;
    padding-right: 10px;
    padding-bottom: 18px;
    height: 100%;
    position: relative;
    color: black;
}

.the-icons {
  font-size: 25px;
}

/* NAVIGATION BAR */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: var(--body-font)
  }
  nav{
    background: var(--header-background);
    height: 80px;
    width: 100%;
  }
  label.logo{
    font-family: var(--header-font);
    color: var(--navbar-text);
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: lighter;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    font-family: var(--monospace-font);
    color: var(--navbar-text);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background-color: transparent;
    border-radius: 8px;
    color: var(--navbar-text) !important;
    border: 1.5px solid var(--secondary-accent);
  }
  .checkbtn{
    font-size: 30px;
    color: var(--navbar-text);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
        background-color: transparent;
        border-radius: 8px;
        border: 1.5px solid var(--secondary-accent);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  /* NOW FOR TASK BUTTONS*/

.taskButton {
    font-family: var(--body-font);
    border-radius: 4px;
    border-color: transparent !important;
    position: relative;
    background-color: var(--incomplete-color);
    color: var(--background);
    width: 93%;
    margin-top: 3%;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 10 10px;
    float: center;
    text-align: left;
    align-items: left;
    flex-direction: column;
    text-decoration: none;

    cursor: pointer;
  }

  .active, .taskButton:hover {
    background-color: var(--incomplete-color-actived);
    color:rgba(0, 0, 0, 1);
  }
  .taskButton.complete{
    background-color: var(--complete-color);
  }

  .complete.active, .taskButton.complete:hover {
    background-color: var(--complete-color-actived);
    color:#0a192f;
  }

  .taskButton.current{
    background-color: var(--secondary-accent);
  }

  .current.active, .taskButton.current:hover {
    background-color: var(--secondary-accent-activated);
    color:#0a192f;
  }

  /* Style the accordion panel. Note: hidden by default */
  .informationContainer{
    width: 95%;
    overflow:auto;
    display: none;
  }

  .taskNumber {
    font-family: var(--monospace-font);
    margin: 0 0 10 10px;
    padding: 5px 10px;
    color: var(--primary-accent);
    width: 95%;
    border-radius: 4px;
    background-color: var(--transparent-task);
  }

  .taskInfo {
    font-family: var(--monospace-font);
    margin: 0 0 10 10px;
    padding: 5px 10px;
    color: var(--primary-accent);
    width: 95%;
    border-radius: 4px;
    border: 1.5px solid var(--secondary-accent) !important;
    background-color: transparent !important;
  }

  /* INSTRUCTIONS */
  .instructionBox {
    border-radius: 8px;
    border: 1.5px solid var(--secondary-accent) !important;
    /*background-color: var(--transparent-background);*/
    max-height: 45%;
    width: 95%;
    margin-top: 0%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    display:inline-block;
    padding: 5px 5px 0px 0px;
    margin-bottom: 2%;
    transition: 0s;

  }
  .instructionTitle {
    font-family: var(--header-font);
    margin: 0 0 10 10px;
    color: var(--primary-accent);
    border-radius: 2px;
    font-size: 10px;
    font-size: 1.2vw;
    order: 1;
    flex-grow: 2;
    text-align: left;
    align-items: left;
    text-decoration: none;
    transition: 0s;
    background-color: transparent;

  }


  .instructionTitle.active:after {
    content: "\2212";
  }

  .instructionInfo {
    font-family: var(--monospace-font);
    margin: 0 0 10 10px;
    padding: 5px 10px;
    position:relative;
    color: var(--primary-accent);
    width: 95%;
    border-radius: 4px;
    background-color: var(--transparent-background);
    max-height: 30%;
    overflow: auto;
  }

  /* EXPANDABLE */
  
  .sidebar {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 20px !important;
    z-index: 1;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    align-items: center;
    background-color: var(--transparent-shadow);
  }
  .sidebutton {
    background-color: transparent;
    color: var(--primary-accent-activated);
    text-align: center;
    margin: 25% 2%;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }

  .active, .sidebutton:hover{
    color: var(--primary-accent);
}

  .sidemenu {
    height: 99%;

    width: 2%;
    position: fixed;
    
    z-index: 1;
    top: 80px;
    right: 0;
    background-color: var(--transparent-background);
    overflow: hidden;
  }

  .sidecontent {
    top: 0;
    right: 0;
    margin-top: 4%;
    margin-right: 2%;
    float: right;
    width: 0%;
    text-align: left;
  }

  .sidemenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--primary-accent-activated);
    display: block;
  }

  .sidemenu a:hover, .sidemenu a:focus {
    color: var(--navbar-text);
  }

  .sidemenu .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
  }

.code{
font-family: var(--monospace-font);
color: rgb(255, 111, 0);
background-color: var(--transparent-background);
padding: 2px;
font-size: 105%;
}


