option_settings: 
  aws:elasticbeanstalk:application:environment: 
    DJANGO_SETTINGS_MODULE: "neuvue.settings" 
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    PATH: "/var/app/current/django:$PATH"
  aws:elasticbeanstalk:container:python: 
    WSGIPath: neuvue_project.neuvue.wsgi:application 
    NumProcesses: 3 
    NumThreads: 20 