{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="basic">
    <div class="container text-light pb-5">
        <h2 class="pt-5 pb-3" role="heading" aria-level="1"> About Us </h2>

        <p>
            NeuVue is developed and maintained at the Johns Hopkins Applied Physics Laboratory with the help of a friendly <em>axon</em>olotl.
        </p>

        <div class="medium-logo-container my-3">
            <a href="https://jhuapl.edu" title="JHU/APL">
                <div class="logo-card">
                    <img class="medium-logo-img px-3 py-5" src="{% static "images/apl_small_vertical_white.png" %}" alt="JHU/APL"></img>
                </div>
            </a>
            <div class="logo-card">
                <img class="medium-logo-img" src="{% static "images/axonolotl.png" %}" title="Axonolotl" alt="Axonolotl"></img>
            </div>
        </div>

        <p>
            NeuVue is a software platform created for large-scale proofreading of machine segmentation and neural circuit 
            reconstruction in high-resolution electron microscopy connectomics datasets. The NeuVue platform provides a robust 
            web-based interface for proofreaders to collaboratively view, annotate, and edit segmentation and connectivity data.
            A backend queuing service organizes proofreader tasks into purpose-driven task types and increases proofreader 
            throughput by limiting proofreader actions to simple, atomic operations. A collection of analytical dashboards, data
            visualization tools, and Application Program Interface (API) capabilities provide stakeholders real-time access to 
            proofreading progress at an individual proofreader level as well as insights on task generation priorities. 
            NeuVue is agnostic to the underlying data being proofread and improves upon the traditional proofreader experience 
            through quality-of-life features that streamline complex editing operations such as splitting and merging objects in
            dense nanoscale segmentation.
        </p>

        <p class="fw-bold">
            This research was enabled by the IARPA Machine Intelligence from Cortical Networks (MICrONS) program. 
            <a class="text-secondary-color-activated" href="https://www.iarpa.gov/research-programs/microns">Learn more about MICrONS.</a>
        </p>

        <h2 class="pt-5 pb-3"> Publications </h2>

        <p>
            <a class="text-secondary-color-activated" href="https://www.biorxiv.org/content/10.1101/2022.07.18.500521v1" target="_blank" rel="noopener noreferrer">
                NeuVue: A Framework and Workflows for High-Throughput Electron Microscopy Connectomics Proofreading
            </a>
        </p>
        <p>
            Check us out at the Computational Tools and Other Resources: Microscopy and Imaging session at <a class="text-secondary-color-activated" href="https://www.sfn.org/meetings/neuroscience-2022">SfN 2022</a>!
        </p>

        <h2 class="pt-5 pb-3"> Collaborators </h2>

        <div class="small-logo-container">
            <a href="https://bossdb.org" title="BossDB">
                <div class="logo-card bg-light">
                    <img class="small-logo-img" src="{% static 'images/bossdb.png' %}" alt="BossDB"></img>
                </div>
            </a>
            <a href="https://alleninstitute.org/what-we-do/brain-science/research/allen-institute-brain-science/" title="Allen Institute for Brain Science">
                <div class="logo-card bg-light">
                    <img class="small-logo-img" src="{% static 'images/aibs.png' %}" alt="Allen Institute for Brain Science"></img>
                </div>
            </a>
            <a href="https://toliaslab.org/" title="Baylor College of Medicine">
                <div class="logo-card bg-light">
                    <img class="small-logo-img" src="{% static 'images/Baylor_College_of_Medicine_Logo.png' %}" alt="Baylor College of Medicine"></img>
                </div>
            </a>
            <a href="https://seunglab.org/" title="Princeton University">
                <div class="logo-card bg-light">
                    <img class="small-logo-img" src="{% static 'images/University-of-Princeton-Logo.png' %}" alt="Princeton University"></img>
                </div>
            </a>
        </div>

        <h2 class="pt-5 pb-3"> Contact Us </h2>

        <p>
            We'd love to hear from you! Reach out at <a class="text-secondary-color-activated" href="mailto:info@neuvue.io">info@neuvue.io</a> with questions or if you are interested in collaborating with us.
        </p>

    </div>
</div>
<script>

</script>
{% endblock %}