{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="basic dashboard">
    {% if not namespace or not group%}
    <div class="inspect-container">
        <form id="mainForm" action="" method="post" >
          {% csrf_token %}
          <h3 style="color: white"> Admin Dashboard</h3>
          <div style="margin: 20px"class="form-group">
            
            <label style="color: white" for="namespaceSelect">Namespace</label>
            <select name="namespace" class="form-select" id="namespaceSelect" placeholder="Select one" required="true">
                <option value="" selected disabled>Please select</option>
                {% for namespace_opt in all_namespaces %}
                <option>{{namespace_opt}} </option>
                {% endfor %}
            </select>

        </div>
        
        <div style="margin: 20px" class="form-group">
            <label style="color: white" for="groupSelect">Group</label>
            <select name="group" class="form-select" id="groupSelect" placeholder="Select one" required="true">
                <option value="" selected disabled>Please select</option>
                {% for group_opt in all_groups %}
                <option>{{group_opt}} </option>
                {% endfor %}
            </select> 
        </div>

        <div style="margin: 20px"  class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
            
            {% if error %}
            <small id="errorMessage" class="form-text text-danger"> {{error}} </small>
            {% endif %}
          
        </div>
        </form>
      </div>
    {% else %}
    <!-- Begin Page Content -->
    <div class="container-fluid" style="padding: 5vh 5vw;">
        <div class="d-flex flex-row bd-highlight mb-3">
            <form id="mainForm" action="" method="post" >
                {% csrf_token %}
                <h3 style="color: white"> Admin Dashboard</h3>
                <div style="margin: 20px"class="form-group">
                  
                  <label style="color: white" for="namespaceSelect">Namespace</label>
                  <select name="namespace" class="form-select" id="namespaceSelect" required="true">
                      <option value="" selected disabled>Please select</option>
                      {% for namespace_opt in all_namespaces %}
                      <option>{{namespace_opt}} </option>
                      {% endfor %}
                  </select>
      
              </div>
              
              <div style="margin: 20px" class="form-group">
                  <label style="color: white" for="groupSelect">Group</label>
                  <select name="group" class="form-select" id="groupSelect" required="true">
                      <option value="" selected disabled>Please select</option>
                      {% for group_opt in all_groups %}
                      <option>{{group_opt}} </option>
                      {% endfor %}
                  </select> 
              </div>
      
              <div style="margin: 20px"  class="form-group">
                  <input type="submit" class="btn btn-primary" value="Reload">
                  
                  {% if error %}
                  <small id="errorMessage" class="form-text text-danger"> {{error}} </small>
                  {% endif %}
                
              </div>
              </form>
        </div>


        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Total Pending Tasks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_pending}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Open Tasks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_open}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Total Closed Tasks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_closed}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Total Errored Tasks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_errored}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                        Records for <b> {{display_name}} </b> in <b> {{group}} </b>
                        <span style="float:right">
                            <button id="exportBtn" class="btn btn-primary">
                                Export to CSV
                            </button>
                        </span>
                    </div>
                    <div class="card-body">
                        <table id="summary-table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Pending Tasks</th>
                                <th scope="col">Open Tasks</th>
                                <th scope="col">Closed Tasks</th>
                                <th scope="col">Errored Tasks</th>
                                <th scope="col">Time Last Closed (UTC) </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table %}
                                <tr>
                                <th scope="row"><button id="userLink_{{row.username}}"> {{row.username}} </button></th>
                                <td>{{row.pending}}</td>
                                <td>{{row.open}}</td>
                                <td>{{row.closed}}</td>
                                <td>{{row.errored}}</td>
                                <td>{{row.last_closed}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div id="hiddenModalTable" style="visibility: hidden;"> 
    </div>
    {% endif %}
</div>


<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form id="taskPatchForm" action="" method="POST">{% csrf_token %}
        <input type="hidden" name="namespace" value="{{display_name}}" />
        <input type="hidden" name="group" value="{{group}}" />
    </form>
    
    
    
    
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalTitle">Username</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="userModalBody" class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <input id="reassign_user" form="taskPatchForm" name="reassign_user" placeholder="New assignee">
          <button type="button" id="reassign_button" form="taskPatchForm" name="selected_action" value="reassign" class="btn btn-primary">Reassign</button>
          <button type="button" id="delete_button" form="taskPatchForm" name="selected_action" value="delete" class="btn btn-danger">Delete</button>
          <button id="exportBtn_userTable" class="btn btn-primary">Export to CSV</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
<div class="modal fade" id="confirmReassignModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalTitle">Confirm?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="confirmReassignModalBody">
            Confirm you are reassigning the following tasks...

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="reassign_button" form="taskPatchForm" name="selected_action" value="reassign">Confirm</button>
            <button class="btn btn-secondary" data-bs-target="#userModal" data-bs-toggle="modal">Cancel</button>
          </div>
        </div>        
    </div>
    
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalTitle">Confirm?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="confirmDeleteModalBody">
            Confirm you are deleting the following tasks...

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="delete_button" form="taskPatchForm" name="selected_action" value="delete">Confirm</button>
            <button class="btn btn-secondary" data-bs-target="#userModal" data-bs-toggle="modal">Cancel</button>
          </div>
        </div>        
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/table2csv@1.1.3/src/table2csv.js" integrity="sha384-vVCd7tQ0g9opUDOT/X+Dsb5u1xXL/2bhtBkeV4TWA0/x5lDgMNyl/YqrEFMMPUZL" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        {% for row in table %}
            $("#userLink_{{row.username}}").click(function(){
                let tableContents = `
                    <thead>
                        <tr>
                        <th scope="col">Task ID</th>
                        <th scope="col">Segment ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Created</th>
                        <th scope="col">Opened</th>
                        <th scope="col">Closed</th>
                        <th scope="col">Duration (min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taskrow in row.user_tasks %}
                        <tr>
                        <th scope="row"><a href="{% url 'inspect' taskrow.task_id %}">{{taskrow.task_id}}</a></th>
                        <td>{{taskrow.seg_id}}</td>
                        <td>{{taskrow.status}}</td>
                        <td>{{taskrow.priority}}</td>
                        <td>{{taskrow.created}}</td>
                        <td>{{taskrow.opened}}</td>
                        <td>{{taskrow.closed}}</td>
                        <td>{{taskrow.duration}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>`

                $('#userModalTitle').text("{{row.username}}")
                $('#hiddenModalTable').html(`
                    <table id='hiddenUserTable' class="table table-striped table-hover">${tableContents}</table>  
                `);
                $('#userModalBody').html(`
                    <table id='userTable' class="table table-striped table-hover">${tableContents}</table>  
                `);
                $('#userTable').DataTable();
                $('#userModal').modal('show');
            });
        {% endfor %}
    })

    // Export as CSV Button
    const exportButton = document.getElementById("exportBtn");
    exportButton.addEventListener('click', (e) => {

        // Construct filename
        const filename = '{{namespace}}' + '_' + '{{group}}' + '_' + Date.now() + '.csv';

        // Perform download
        $('#summary-table').table2csv('download', {'filename': filename});

    }); 
    function getSelectedTasks(){
        let ret = [];
        document.getElementsByName("selected_tasks").forEach((ele) => {
            if (ele.type == "checkbox" && ele.checked) {
                ret.push(ele)
            };
        });
        return ret
    }
    function make_list_of_checked_elements(){
        let ret = "";
        document.getElementsByName("selected_tasks").forEach((ele) => {
            if (ele.type == "checkbox" && ele.checked) {
                ret += "<li>" + ele.value + "</li>"
            };
        });
        return ret
    };
    document.getElementById("reassign_button").addEventListener('click', (e)=> {
        
        
        
        const inputUser = document.getElementById("reassign_user")
        console.log(e)
        if (getSelectedTasks() == 0){
           // do something here?
        }
        else if (inputUser.value == ""){
            inputUser.style.backgroundColor = "indianred";
        } else {
            const confirmReassignModalBody = document.getElementById("confirmReassignModalBody");
            confirmReassignModalBody.innerHTML = `You are about to reassign the following tasks to <b>${inputUser.value}</b> </b>:`;
            confirmReassignModalBody.innerHTML += make_list_of_checked_elements();
            $('#userModal').modal('toggle')
            $('#confirmReassignModal').modal('toggle')
        }
    });
    
    
    document.getElementById("delete_button").addEventListener('click', (e)=> {
        const confirmDeleteModalBody = document.getElementById("confirmDeleteModalBody");
        confirmDeleteModalBody.innerHTML = "You are about to delete the following tasks:";
        confirmDeleteModalBody.innerHTML += make_list_of_checked_elements();
        if (getSelectedTasks() == 0){
            // do something here?
        } else {
             const confirmReassignModalBody = document.getElementById("confirmReassignModalBody");
             confirmReassignModalBody.innerHTML = "You are about to reassign the following tasks:";
             confirmReassignModalBody.innerHTML += make_list_of_checked_elements();
             $('#userModal').modal('toggle')
             $('#confirmDeleteModal').modal('toggle')
         }
    });


    

    const exportButton_userTable = document.getElementById("exportBtn_userTable");
    exportButton_userTable.addEventListener('click', (e) => {

        // Construct filename
        const username = document.getElementById("userModalTitle").textContent;
        const filename = '{{namespace}}' + '_' + '{{group}}' + '_' + username + '_' + Date.now() + '.csv';

        // Perform download
        $('#hiddenUserTable').table2csv('download', {'filename': filename});

    }); 


</script>
{% endblock %}

