{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Welcome to NeuVue{% endblock %}
{% block content %}

<div class="intro">
  <div class="container-fluid inherit-height">
    <div class="row inherit-height">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center">
          <div class="title-container">
            <h1 class="index-title-text mt-4 my-1">Welcome to NeuVue</h1>
          {% if user.is_authenticated %}
            <div class="d-flex justify-content-center">
              <span class="index-title-sub-text">You are logged in as <b>{{ user.username }}. </b> </p>
            </div>
          {% else %}
            <a class="index-title-sub-text d-flex justify-content-center" href="{% provider_login_url 'google' %}" ><img width="200"src="static/images/google.png" alt="Sign in with Google"></a>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="index-card-container d-flex justify-content-center align-items-center">
            <div class="card index-card" id="bootstrap-overrides">
              <div class="index-card-header card-header text-center">
                Recent Changes
              </div>
              <div class="index-card-items">
                {% if recent_updates %}
                  {% for update in recent_updates %}
                  <div class="index-card-item">
                    <div class="index-card-item-title">{{update.update_name}}</div>
                    <div class="index-card-item-date fst-italic">{{update.update_date}}</div>
                    <div class="index-card-item-description">{{update.update_description}}</div>
                  </div>
                  {% endfor %}
                {% else %}
                  <div class="index-card-no-updates">There are no new updates to show</div>
                {% endif %}
              </div>
            </div>
          </div>
        <div class="index-card-column">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
