{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

{% if not root_id or error%}

<div class="basic workspace">
  <div class="inspect-container">
    <form id="mainForm" action="" method="post" onSubmit="triggerLoadingSpinner('submit-spinner')">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" id="rootIDInput" placeholder="Enter Root ID" name="root_id" required="true">
        <br>
        <div class="d-flex">
          <input type="submit" class="btn btn-primary" value="Submit">
          <div id="submit-spinner" class="text-white mx-3 mt-2"></div>
          {% if error%}
          <small id="errorMessage" class="form-text text-danger"> {{error}} </small>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>

{% else %}

<div id="neuVue-sidemenu" class="sidemenu">
  <div id="neuVue-sidebar" class="sidebar">
      <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
          <i class="glyphicon glyphicon-list"></i>
      </a>  
  </div>
  <div id="neuVue-sidecontent" class="sidecontent">
      
      <! Task Information >
      <div id = "instruction-container" class ="sideContentBox" style="max-height:70%;">
          <div class="sideContentTitle">
              Segment Information
          </div>
          <div class="sideContentInfo">
              Root ID <br> 
              <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{root_id}}')"><i class="fa fa-copy"></i></button> {{root_id}} </span> <br>
          </div>
          <div class="sideContentInfo">
            
            <span><button class="clipboard" id="downloadPNG" onclick="downloadSVGAsPNG()"><i class="fa fa-download"></i></button> Lineage Graph</span><br>
            <div id='svg_graph' style="margin: auto; top:0; left:0; height: 90%; width:90%; position:relative;"> {{ graph|safe }}</div> 
        </div>
      </div>
  </div>
</div> 

<div id="neuroglancer" class="leftFormatting">
  <div class="left">    
    <div id="neuroglancer-container" class="neuroglancer-container"></div>
    <div class="bottomBar">
      <button id="btnExit" type="button" class="mainButton" onclick= "document.location='{% url 'lineage' %}'">
          Exit
      </button>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "workspace/main.bundle.js" %}"></script>
{% endif%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript">
  // Side Bar Interaction
  openSideMenu();

  function downloadSVGAsPNG(e){
    const canvas = document.createElement("canvas");
    const svg = document.querySelector('svg');
    var box = svg.viewBox.baseVal; 
    const base64doc = btoa(unescape(encodeURIComponent(svg.outerHTML)));
    const w = parseInt(box.width)*10;
    const h = parseInt(box.height)*10;
    const img_to_download = document.createElement('img');
    img_to_download.src = 'data:image/svg+xml;base64,' + base64doc;
    img_to_download.onload = function () {    
      canvas.setAttribute('width', w);
      canvas.setAttribute('height', h);
      const context = canvas.getContext("2d");
      context.drawImage(img_to_download,0,0,w,h);
      const dataURL = canvas.toDataURL('image/png');
      if (window.navigator.msSaveBlob) {
        window.navigator.msSaveBlob(canvas.msToBlob(), "download.png");
        e.preventDefault();
      } else {
        const a = document.createElement('a');
        const my_evt = new MouseEvent('click');
        var options = {year: 'numeric', month: 'numeric', day: 'numeric' };
        var today  = new Date();
        var today_date = today.toLocaleDateString("en-US", options);
        a.download = 'lineage_graph_{{root_id}}_'+today_date+'.png';
        a.href = dataURL;
        a.dispatchEvent(my_evt);
      }
    }  
  }
  // Neuroglancer State Load 
  $(document).ready(function() {
    {% if ng_state %}
    const state = {{ ng_state|safe }};
      openSideMenu();
      viewer.state.restoreState(state);
    
    {% endif %}

    $("svg").attr('width', '100%');
    $("svg").attr('height', '100%');
  });
 
  // Remove loading spinner when page loads. This is important if the back button is clicked
  window.addEventListener('pageshow', function(e) {
    if (document.getElementById('submit-spinner') !== null) {
      removeLoadingSpinner('submit-spinner');
    }
  })

  </script>
{% endblock %}
