{% load static %}

<head>
    <script type="text/javascript">
        var address_to_model = "{% static 'mesh/axolotl.glb' %}"; 
    </script>
</head>

<body>

</body>

<script type="module">
    import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/build/three.module.js';
    import { GLTFLoader } from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/examples/jsm/loaders/GLTFLoader.js';
    import { OrbitControls } from 'https://cdn.jsdelivr.net/npm/three@0.118/examples/jsm/controls/OrbitControls.js';



    class LoadAxolotl {
        constructor() {
            this.Setup();
        }

        Setup() {
            this._renderer = new THREE.WebGLRenderer({
                antialias: true,
            });
            this._renderer.shadowMap.enabled = true;
            this._renderer.shadowMap.type = THREE.PCFSoftShadowMap;
            this._renderer.setPixelRatio(window.devicePixelRatio);
            this._renderer.setSize(window.innerWidth, window.innerHeight);
            this._clock = new THREE.Clock();


            document.body.appendChild(this._renderer.domElement);

            window.addEventListener('resize', () => {
                this.OnWindowResize();
            }, false);

            const fov = 60;
            const aspect = 1920 / 1080;
            const near = 1.0;
            const far = 1000.0;
            this._camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
            this._camera.position.set(75, 20, 0);

            this._scene = new THREE.Scene();

            let light = new THREE.DirectionalLight(0xFFFFFF, .9);
            light.position.set(20, 100, 10);
            light.target.position.set(0, 0, 0);
            light.castShadow = true;
            light.shadow.bias = -0.001;
            light.shadow.mapSize.width = 2048;
            light.shadow.mapSize.height = 2048;
            light.shadow.camera.near = 0.1;
            light.shadow.camera.far = 500.0;
            light.shadow.camera.near = 0.5;
            light.shadow.camera.far = 500.0;
            light.shadow.camera.left = 100;
            light.shadow.camera.right = -100;
            light.shadow.camera.top = 100;
            light.shadow.camera.bottom = -100;
            this._scene.add(light);

            light = new THREE.AmbientLight(0xFFFFFF, 4.0);
            this._scene.add(light);

            const controls = new OrbitControls(
                this._camera, this._renderer.domElement
            );
            controls.target.set(0, 20, 0);
            controls.update();


            const plane = new THREE.Mesh(
                new THREE.PlaneGeometry(100, 100, 10, 10),
                new THREE.MeshStandardMaterial({
                    color: 0x202020,
                }));
            plane.castShadow = false;
            plane.receiveShadow = true;
            plane.rotation.x = -Math.PI / 2;
            this._scene.add(plane);

            this._previousRAF = null;

            this.LoadModel(this._scene, this._renderer, this._camera, this._clock);
        }

        LoadModel(scene, renderer, camera, clock) {
            var mixer = null;
            var loader = new GLTFLoader();
            loader.load(address_to_model, function (glb) {
                var model = glb.scene;

                glb.scene.traverse(c => {
                    c.castShadow = true;
                });

                mixer = new THREE.AnimationMixer(model);
                var clip1 = glb.animations[0];
                var action1 = mixer.clipAction(clip1);
                action1.play();
                scene.add(glb.scene)

                renderer.setAnimationLoop(() => {

                    mixer.update(clock.getDelta());

                    renderer.render(scene, camera);
                });

            })


        }


        OnWindowResize() {
            this._camera.aspect = window.innerWidth / window.innerHeight;
            this._camera.updateProjectionMatrix();
            this._renderer.setSize(window.innerWidth, window.innerHeight);
        }


    }


    let app = null;

    window.addEventListener('DOMContentLoaded', () => {
        app = new LoadAxolotl();
    });

</script>