{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock %}

{% block content %}
<div class="basic tasks">
    <div class="neuvueRow">
        <div class="jobQueue" >
            {% for namespace, context in data.namespaces.items %}
                {% if context.total_tasks %}
                    <div class="neuvueRow">
                        <div id="{{namespace}}Header" class="jobHeader active" onclick="tableHide('{{namespace}}Header','{{namespace}}Table')">
                            {{context.display_name}} ({{context.total_pending}})
                        </div>
                        {% if context.can_self_assign_tasks and context.total_pending < context.max_pending_tasks_allowed %}
                            <div class="header-button">
                                <button class="header-button-text"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmAddTasksModal"
                                    data-bs-display-name="{{context.display_name}}"
                                    data-bs-namespace="{{namespace}}">
                                    <div id='{{namespace}}TasksSpinner'>
                                        Add More Tasks
                                    </div>
                                    <input type="hidden" name="namespace" value="{{ namespace }}">
                                </button>
                            </div>
                        {% endif %}
                        {% if context.can_unassign_tasks%}
                        <div class="header-button">
                            <button class="header-button-text" style="font-size: 1.15vh;"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmReassignTasksModal"
                                data-bs-display-name="{{context.display_name}}"
                                data-bs-namespace="{{namespace}}">
                                <div id='{{namespace}}TasksSpinnerReassign'>
                                    Remove Skipped Tasks
                                </div>
                                <input type="hidden" name="namespace" value="{{ namespace }}">
                            </button>
                        </div>
                        {% endif %}
                        <div class="header-button rightBorderRounded" onclick="document.location='{% url 'workspace' namespace=namespace %}'"> 
                            <button class="header-button-text"
                                onclick="triggerLoadingSpinner('{{namespace}}NgSpinner')">
                                <div id='{{namespace}}NgSpinner'>
                                    Start Proofreading
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="{{namespace}}Table" class ="bin" style="display:none;">
                        <div class="tab">
                            <button id = "pending{{namespace}}Tab" class="tablinks" onclick="tabToggle(event, 'pending{{namespace}}', {{context.start}}, {{context.end}},'pending{{namespace}}Tab')">Pending ({{context.total_pending}}) </button>
                            <button id = "closed{{namespace}}Tab" class="tablinks" onclick="tabToggle(event, 'closed{{namespace}}', {{context.start}}, {{context.end}},'closed{{namespace}}Tab')">Closed ({{context.total_closed}}) </button>
                        </div>
                        <div id="pending{{namespace}}" class="tabcontent">
                            <div>
                                <table>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Seg ID</th>
                                        <th>Created</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Times Skipped</th>
                                        {% comment %} <th>Flag Reason</th>
                                        <th>Notes</th> {% endcomment %}
                                    </tr>
                                    {% for row in  context.pending %}
                                    <tr>
                                        <td><a href="{% url 'inspect' row.task_id %}" style="color:var(--secondary-accent-activated)"><code>{{ row.task_id }}</code> </a></td>
                                        <td><a href="{% url 'synapse' row.seg_id 'True' 'True' 'True' 'None'%}" style="color:var(--secondary-accent-activated)"><code>{{ row.seg_id }}</code> </a></td>
                                        <td> {{ row.created }} </td>
                                        <td> {{ row.priority }} </td>
                                        <td> {{ row.status }} </td>
                                        <td> {{ row.skipped }}</td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                        <div id="closed{{namespace}}" class="tabcontent">
                            <div>
                                <table>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Seg ID</th>
                                        <th>Opened Time</th>
                                        <th>Closed Time</th>
                                        <th>Status</th>
                                        <th>Tags</th>
                                    </tr>
                                    {% for row in context.closed %}
                                    <tr>
                                        <td><a href="{% url 'inspect' row.task_id %}" style="color:var(--secondary-accent-activated)"><code>{{ row.task_id }}</code> </a></td>
                                        <td><a href="{% url 'synapse' row.seg_id 'True' 'True' 'True' 'None'%}" style="color:var(--secondary-accent-activated)"><code>{{ row.seg_id }}</code> </a></td>
                                        <td> {{ row.opened }} </td>
                                        <td> {{ row.closed }} </td>
                                        <td> {{ row.status }} </td>
                                        {% if row.tags %}
                                        <td class='userTags'> 
                                        <span 
                                          data-bs-toggle="tooltip" 
                                          data-bs-placement="right" 
                                          data-bs-html="true"
                                          title="{% for tag in row.tags %} {{tag}} </br> {% endfor%}" >
                                          {{ row.tags.0 }} 
                                        </span>
                                        </td>
                                        {% else %}
                                        <td> None </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="neuvueRow">
                <div id="pinkyHeader" class="pinkyHeader jobHeader active">
                    Pinky Sandbox
                </div>
                <div class="header-button rightBorderRounded" onclick="document.location='{% url 'inspect' task_id='6269888a101fc4da81fdd410' %}'"> 
                    <button class="header-button-text" id='pinkySandboxButton'
                    onclick="triggerLoadingSpinner('PinkyNgSpinner')">
                        <div id='PinkyNgSpinner'>
                            Start Sandbox
                        </div>
                    </button>
                </div>
            </div>
        </div>


        <div class="analytics">
            <div class="sideContentTitle">
                Stats in the Last 24 Hours
            </div>
            <div class="sideContentInfo">
                {{ data.changelog | safe }}
            </div>
        </div>
    </div>
    <!-- Triggerable elements -->

    <!-- Toast -->
    <div class="position-fixed top-0 start-50 translate-middle-x mt-5">
        <div id="toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"> <!-- triggerToast will fill in text here--> </div>
                <button id="close-toast" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div id="confirmAddTasksModal" class="modal" name="flag" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black;"> <!-- modal function will fill in text here --> </h5>
                <button type="button" class="btn-close" id="btnModalClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalNo" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="modalYes" data-bs-dismiss="modal">Yes</button>
                <!-- Modal function will add POST request to yes button -->
            </div>
        </div>
    </div>
</div> 

<div id="confirmReassignTasksModal" class="modal" name="reassign" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black;"> <!-- modal function will fill in text here --> </h5>
                <button type="button" class="btn-close" id="btnModalClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalNo" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="reassignModalYes" data-bs-dismiss="modal">Yes</button>
                <!-- Modal function will add POST request to yes button -->
            </div>
        </div>
    </div>
</div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script>
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    start();
    function start() {
        {% for namespace, context in data.namespaces.items %}
            if ({{context.total_tasks}}) {
                tabToggle(event, "pending{{namespace}}", "{{context.start}}", "{{context.end}}", "pending{{namespace}}Tab");
                document.getElementById("pending{{namespace}}Tab").click();
                tableHide("{{namespace}}Header","{{namespace}}Table");
                // {% if not context.total_pending %}
                //    document.getElementById("{{namespace}}Header").click();
                // {% endif %}   
            }
        {% endfor %}
    };

    // Add event listener to modal
    const exampleModal = document.getElementById('confirmAddTasksModal');
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Extract info from data-bs-* attributes
        const addMoreTasksButton = event.relatedTarget
        const namespace = addMoreTasksButton.getAttribute('data-bs-namespace');
        const displayName = addMoreTasksButton.getAttribute('data-bs-display-name');
        // Customize the modal
        const modalTitle = exampleModal.querySelector('.modal-title');
        modalTitle.textContent = 'Add more ' + displayName + ' tasks?';
        const yesButton = document.getElementById("modalYes");
        yesButton.setAttribute("onclick", "triggerLoadingSpinner('" + namespace + "TasksSpinner'); addTasks('" + namespace + "')");
    })

    // Add event listener to reassign modal
    const reassignModal = document.getElementById('confirmReassignTasksModal');
    reassignModal.addEventListener('show.bs.modal', function (event) {
        // Extract info from data-bs-* attributes
        const reassignTasksButton = event.relatedTarget
        const namespace = reassignTasksButton.getAttribute('data-bs-namespace');
        const displayName = reassignTasksButton.getAttribute('data-bs-display-name');

        // Customize the modal
        const modalTitle = reassignModal.querySelector('.modal-title');
        modalTitle.textContent = 'Reassign all skipped ' + displayName + ' tasks?';
        const reassignYesButton = document.getElementById("reassignModalYes");
        reassignYesButton.setAttribute("onclick", "triggerLoadingSpinner('" + namespace + "TasksSpinnerReassign'); reassignTasks('" + namespace + "')");
    })
    
    function tabToggle(evt, timeframe,start,end,buttonid) {
        
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = start; i < end; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = start; i < end; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(timeframe).style.display = "block";

        var tab_button = document.getElementById(buttonid);
        tab_button.classList.toggle("active");

    };

    function tableHide(actionButton, hiddenContentId) {

        var acc = document.getElementById(actionButton);
        acc.onclick=function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = document.getElementById(hiddenContentId);
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        };

    };

    function triggerToast(toastText) {
        const toastBody = document.getElementById('toast-body');
        toastBody.textContent = toastText;
        const toastDiv = document.getElementById('toast');
        const toast = new bootstrap.Toast(toastDiv);
        toast.show();
    }

    function addTasks(namespace) {

        const csrftoken = getCookie('csrftoken');
        const formData = new FormData();
        formData.append('namespace', namespace);

        const request = {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            },
            body: formData,
            credentials: 'same-origin',
        };
        // Call the post request defined for this view
        fetch('', request).then(function (response) {
            if (response.ok) {
                response.text().then(function(text) {
                    if(text) {
                        triggerToast(text);
                        removeLoadingSpinner(namespace + "TasksSpinner", "Add More Tasks");
                    } else {
                        location.reload();
                    }
                });
            } else {
                triggerToast("Unable to reach queue. Please try again.");
                removeLoadingSpinner(namespace + "TasksSpinner", "Add More Tasks");
            }
        });

    }

    function reassignTasks(namespace) {

        const csrftoken = getCookie('csrftoken');
        const formData = new FormData();
        formData.append('namespace', namespace);
        formData.append('reassignTasks', 'True');

        const request = {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            },
            body: formData,
            credentials: 'same-origin',
        };
        // Call the post request defined for this view
        fetch('', request).then(function (response) {
            if (response.ok) {
                response.text().then(function(text) {
                    if(text) {
                        triggerToast(text);
                        removeLoadingSpinner(namespace + "TasksSpinnerReassign", "Reassign More Tasks");
                        location.reload();
                    } else {
                        location.reload();
                    }
                });
            } else {
                triggerToast("Unable to reach queue. Please try again.");
                removeLoadingSpinner(namespace + "TasksSpinnerReassign", "Reassign More Tasks");
            }
        });

    }

</script>
{% endblock %}
