{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock %}

{% block content %}
<div class="basic tasks">
    <div class="neuvueRow">
        <div class="jobQueue" >
            {% for namespace, context in data.items %}
                {% if context.total_tasks %}
                    <div class="neuvueRow">
                        <div class="launch_NG" onclick= "document.location='{% url 'workspace' namespace=namespace %}'"> 
                            <div class ="launch_NG_text">
                                Start Proofreading
                            </div>
                        </div>
                        <div id="{{namespace}}Header" class="jobHeader active" onclick="tableHide('{{namespace}}Header','{{namespace}}Table')">{{context.display_name}}</div>
                    </div>
                    <div id="{{namespace}}Table" class ="bin" style="display:block;">
                        <div class="tab">
                            <button id = "pending{{namespace}}Tab" class="tablinks" onclick="tabToggle(event, 'pending{{namespace}}', {{context.start}}, {{context.end}},'pending{{namespace}}Tab')">Pending ({{context.total_pending}}) </button>
                            <button id = "closed{{namespace}}Tab" class="tablinks" onclick="tabToggle(event, 'closed{{namespace}}', {{context.start}}, {{context.end}},'closed{{namespace}}Tab')">Closed ({{context.total_closed}}) </button>
                        </div>
                        <div id="pending{{namespace}}" class="tabcontent">
                            <div>
                                <table>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Seg ID</th>
                                        <th>Created</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        {% comment %} <th>Flag Reason</th>
                                        <th>Notes</th> {% endcomment %}
                                    </tr>
                                    {% for row in  context.pending %}
                                    <tr>
                                        <td> {{ row.task_id }} </td>
                                        <td> {{ row.seg_id }} </td>
                                        <td> {{ row.created }} </td>
                                        <td> {{ row.priority }} </td>
                                        <td> {{ row.status }} </td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                        <div id="closed{{namespace}}" class="tabcontent">
                            <div>
                                <table>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Seg ID</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Status</th>
                                        {% comment %} <th>Flag Reason</th>
                                        <th>Notes</th> {% endcomment %}
                                    </tr>
                                    {% for row in  context.closed %}
                                    <tr>
                                        <td> {{ row.task_id }} </td>
                                        <td> {{ row.seg_id }} </td>
                                        <td> {{ row.opened }} </td>
                                        <td> {{ row.closed }} </td>
                                        <td> {{ row.status }} </td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


        <div class="analytics">
            <div class="sideContentTitle">
                Stats
            </div>
            
            {% for namespace, context in data.items %}
                {% if context.total_tasks %}
                    <div class="sideContentInfo">
                        <span class = "analyticsSubHeader"> {{context.display_name}} </span>
                            <table class="analyticsTable">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">Tasks Closed</th>
                                <th scope="col">Task Time</th>
                                <th scope="col">Rate (minutes)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Last Week</th>
                                    <td>{{context.stats.weekly_tasks}}</td>
                                    <td>{{context.stats.weekly_time}}</td>
                                    <td>{{context.stats.weekly_rate}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total</th>
                                    <td>{{context.stats.total_tasks}}</td>
                                    <td>{{context.stats.total_time}}</td>
                                    <td>{{context.stats.total_rate}}</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/state.js" %}"></script>
<script>
    start();
    function start() {
        {% for namespace, context in data.items %}
            if ({{context.total_tasks}}) {
                tabToggle(event, "pending{{namespace}}", "{{context.start}}", "{{context.end}}", "pending{{namespace}}Tab");
                tableHide("{{namespace}}Header","{{namespace}}Table");
                {% if not context.total_pending %}
                    document.getElementById("{{namespace}}Header").click();
                {% endif %}   
            }
        {% endfor %}
    };
    
                
    
    function tabToggle(evt, timeframe,start,end,buttonid) {
        

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = start; i < end; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = start; i < end; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(timeframe).style.display = "block";

        var tab_button = document.getElementById(buttonid);
        tab_button.classList.toggle("active");

        
      
    };

    function tableHide(actionButton, hiddenContentId) {

        var acc = document.getElementById(actionButton);
        acc.onclick=function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = document.getElementById(hiddenContentId);
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        };

   
    };

</script>
{% endblock %}
