{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block title %}User/Namespace Query{% endblock %}

{% block content %}
  <div class="basic dashboard">
    {% if not filename_field %}
    <div class="inspect-container">
      <h3 class="text-white mb-3"> User/Namespace Query </h3>
      <ul class="nav nav-pills">
        <li class="nav-item margin-right-05">
            <a class="nav-link active" href="#namespaceTab" data-bs-toggle="tab">Namespace Query</a>
        </li>
        <li class="nav-item margin-right-05">
            <a class="nav-link" href="#usernameTab" data-bs-toggle="tab">Username Query</a>
        </li>
      </ul>
    <br>
    <div class="row">
      <div class="tab-content">
          <div class="tab-pane fade show active" id="namespaceTab">
            <form id="namespaceForm" action="" method="post" onSubmit="triggerLoadingSpinner('generate-spinner-namespace')">
              {% csrf_token %}
              <div style="margin: 20px"class="form-group">
                <label style="color: white" for="namespaceSelect">Namespace</label>
                <select name="namespace" class="form-select" id="namespaceSelect" placeholder="Select one" required="true">
                    {% if namespace %}
                        {% for namespace_opt in all_namespaces %}
                            {% if namespace_opt == namespace %}
                            <option selected>{{namespace_opt}} </option>
                            {% else %}
                                <option>{{namespace_opt}} </option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value="" selected disabled>Please select</option>
                        {% for namespace_opt in all_namespaces %}
                            <option>{{namespace_opt}} </option>
                        {% endfor %}
                    {% endif %}
                </select>
                </br>

                <label style="color: white" for="startSelect">From</label>
                <select name="start_field" class="form-select" id="startSelect" required="true">
                    {% if start_field %}
                        {% for field, printed_name in fields.items %}
                            {% if field == start_field %}
                                <option selected value={{field}}>{{printed_name}}</option>
                            {% else %}
                                <option value={{field}}>{{printed_name}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for field, printed_name in fields.items %}
                            <option value={{field}}>{{printed_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                {% if start_date %}
                    <input name="start_date" type="date" class="form-control" id="input_to" placeholder="Start Date" required="true" value="{{start_date}}">
                {% else %}
                    <input name="start_date" type="date" class="form-control" id="input_to" placeholder="Start Date" required="true">
                {% endif %}
                </br>

                <label style="color: white" for="endSelect">To</label>
                <select name="end_field" class="form-select" id="endSelect" required="true">
                    {% if end_field %}
                        {% for field, printed_name in fields.items %}
                            {% if field == end_field %}
                                <option selected value={{field}}>{{printed_name}}</option>
                            {% else %}
                                <option value={{field}}>{{printed_name}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for field, printed_name in fields.items %}
                            <option value={{field}}>{{printed_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                {% if end_date %}
                    <input name="end_date" type="date" class="form-control" id="input_to" placeholder="End Date" required="true" value="{{end_date}}">
                {% else %}
                    <input name="end_date" type="date" class="form-control" id="input_to" placeholder="End Date" required="true">
                {% endif %}
                </br>

                <div class="d-flex">
                  <input type="submit" class="btn btn-primary submit_button" value="Generate Report">
                  <div id="generate-spinner-namespace" class="text-white ms-3 mt-2"></div>
                  {% if error %}
                  <small id="errorMessage" class="form-text text-danger"> {{error}} </small>
                  {% endif %}
                </div>

              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="usernameTab">
            <form id="userForm" action="" method="post" onSubmit="triggerLoadingSpinner('generate-spinner-user')">
              {% csrf_token %}
              <div style="margin: 20px"class="form-group">
                <label style="color: white" for="userSelect">User</label>
                <select name="user" class="form-select" id="userSelect" placeholder="Select one" required="true">
                    {% if username %}
                        {% for user_opt in all_users %}
                            {% if user_opt == username %}
                            <option selected>{{user_opt}} </option>
                            {% else %}
                                <option>{{user_opt}} </option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value="" selected disabled>Please select</option>
                        {% for user_opt in all_users %}
                            <option>{{user_opt}} </option>
                        {% endfor %}
                    {% endif %}
                </select>


                <label style="color: white" for="startSelect">From</label>
                <select name="start_field" class="form-select" id="startSelect" required="true">
                    {% if start_field %}
                        {% for field, printed_name in fields.items %}
                            {% if field == start_field %}
                                <option selected value={{field}}>{{printed_name}}</option>
                            {% else %}
                                <option value={{field}}>{{printed_name}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for field, printed_name in fields.items %}
                            <option value={{field}}>{{printed_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                {% if start_date %}
                    <input name="start_date" type="date" class="form-control" id="input_to" placeholder="Start Date" required="true" value="{{start_date}}">
                {% else %}
                    <input name="start_date" type="date" class="form-control" id="input_to" placeholder="Start Date" required="true">
                {% endif %}
                </br>

                <label style="color: white" for="endSelect">To</label>
                <select name="end_field" class="form-select" id="endSelect" required="true">
                    {% if end_field %}
                        {% for field, printed_name in fields.items %}
                            {% if field == end_field %}
                                <option selected value={{field}}>{{printed_name}}</option>
                            {% else %}
                                <option value={{field}}>{{printed_name}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for field, printed_name in fields.items %}
                            <option value={{field}}>{{printed_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                {% if end_date %}
                    <input name="end_date" type="date" class="form-control" id="input_to" placeholder="End Date" required="true" value="{{end_date}}">
                {% else %}
                    <input name="end_date" type="date" class="form-control" id="input_to" placeholder="End Date" required="true">
                {% endif %}
                </br>

                <div class="d-flex">
                  <input type="submit" class="btn btn-primary submit_button" value="Generate Report">
                  <div id="generate-spinner-user" class="text-white ms-3 mt-2"></div>
                  {% if error %}
                  <small id="errorMessage" class="form-text text-danger"> {{error}} </small>
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container-fluid" style="padding: 5vh 5vw;">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="d-flex flex-column" style="width:100%; margin-left: 1vw;">
          <div class="row" >
            <div class="col-lg-12" >
              <div class="card text-center">
                <div class="card-header">
                  {% if start_field == end_field %}
                    Records for <b>{{filename_field}}</b>  (<b>{{start_field}}</b> from <b>{{start_date}}</b> to <b>{{end_date}}</b>)
                  {% else %}
                    Records for  <b>{{filename_field}}</b>  (<b>{{start_field}}</b> by <b>{{start_date}}</b> and <b>{{end_field}}</b> by <b>{{end_date}}</b>)
                  {% endif %}
                  <span style="float:right">
                    <button id="exportBtn" class="btn btn-primary">
                        Export to CSV
                    </button>
                  </span>
                </div>
                <div class="card-body">
                  <table id="summary-table" class="table table-striped table-hover">
                    <thead>
                      <tr>
                      {% for column in table_columns %}
                          <th scope="col">{{column}}</th>
                      {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in table_rows %}
                      <tr>
                        {% for element in row %}
                          <td>{{element}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/table2csv@1.1.3/src/table2csv.js" integrity="sha384-vVCd7tQ0g9opUDOT/X+Dsb5u1xXL/2bhtBkeV4TWA0/x5lDgMNyl/YqrEFMMPUZL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript">
  // Export as CSV Button
  {% if namespace or username %}
    const exportButton = document.getElementById("exportBtn");
    exportButton.addEventListener('click', (e) => {
      // Construct filename
      const filename =  '{{filename_field}}' + '_' + '{{start_field}}' + '_by_' + '{{start_date}}'+ '_and_' + '{{end_field}}' + '_by_' + '{{end_date}}' + Date.now() + '.csv';
      // Perform download
      $('#summary-table').table2csv('download', {'filename': filename});
    });
  {% endif %}

</script>
{% endblock %}
