{% extends "base.html" %}
{% load static %}

{% block content %}

<! Information Hidden Menu >

{% if is_open %}
<div class="basic workspace">
{% else %}
<div class="basic interTask">
{% endif %}
    <div id="neuVue-sidemenu" class="sidemenu">
        <div id="neuVue-sidebar" class="sidebar">
            <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
                <i class="glyphicon glyphicon-list"></i>
            </a>  
        </div>
        <div id="neuVue-sidecontent" class="sidecontent">
            
            <! Instructions >
            <div id = "instruction-container" class ="sideContentBox" style="max-height:30%;">
                <div class="sideContentTitle">
                    Instructions
                </div>
                <div class="sideContentInfo">
                    {{ instructions.prompt }}
                </div>
            </div>
            
            <! Task Information >
            <div id = "instruction-container" class ="sideContentBox" style="max-height:70%;">
                <div class="sideContentTitle">
                    Task Information
                </div>
                <div class="sideContentInfo">
                    Namespace <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{display_name}}')"><i class="fa fa-copy"></i></button> {{display_name}} </span> <br>
                    Task ID <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{task_id}}')"><i class="fa fa-copy"></i></button> {{task_id}} </span> <br>
                    Segmentation ID  <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{seg_id}}')"><i class="fa fa-copy"></i></button> {{seg_id}} </span> <br>
                    PCG Endpoint  <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{pcg_url}}')"><i class="fa fa-copy"></i></button> {{pcg_url}}  </span>  <br>
                    
                </div>
            </div>
            <div class="sideContentBox memo">
                <div class="sideContentInfo memo">
                    Pro Tip: Use Chrome and turn off toolbar in full screen! <br>
                    Apple: CMD+SHIFT+F <br>
                    PC: F11
                </div>
            </div>
        </div>
    </div> 
    <! Neuroglancer >
    <div id="neuroglancer" class="leftFormatting">
        <div class="left">
            {% if is_open %}
                {% if submission_method == "forced_choice" %}
                <form id="mainForm" action="" method="post" class="bottomBar" style="order: 0;">
                    {% csrf_token %}

                    <! Submission Options>
                    <button 
                        id="btnYes" 
                        type="button" 
                        class="mainButton submit quad" 
                    >
                        Confirm Split
                    </button>

                    <button 
                        id="btnYesBut" 
                        type="button" 
                        class="mainButton yesBut" 
                    >
                        Split Requires Refinement
                    </button>

                    <button 
                    id="btnNoBut" 
                    type="button" 
                    class="mainButton noBut" 
                    >
                        Reject Split but Error Nearby
                    </button>

                    <button 
                        id="btnNo" 
                        type="button" 
                        class="mainButton flag quad" 
                    >
                        Reject Split
                    </button>

                    <button 
                        id="btnUnsure" 
                        type="button" 
                        class="mainButton pause quad" 
                    >
                        Unsure
                    </button>
                    
                </form>
                {% endif %}

                
            {% endif %}
            {% if is_open %}
                <div id="neuroglancer-container" class="neuroglancer-container"></div>
            {% else %}
                <div id="neuroglancer-container" class="neuroglancer-container" style="display: none !important;"></div>
            {% endif %}
            <! Buttons >
                <form id="mainForm" action="" method="post" class="bottomBar">
                    {% csrf_token %}

                    <! Save/Reload >
                    {% if is_open %}
                    <button
                        id="btnSave" 
                        type="button" 
                        class="mainButton" 
                    >
                        Save Checkpoint
                    </button>
                    
                    <button
                        id="btnReload" 
                        type="button" 
                        class="mainButton"
                    {% if submission_method == "forced_choice" %}
                        style="margin-right: 15vw;"
                    {% endif %}
                    >
                        Reload Checkpoint
                    </button>

                    <! Submit >
                    {% if submission_method == "submit" %}
                    <button 
                        name="btnSubmit"
                        id="btnSubmit" 
                        type="button" 
                        class="mainButton submit" 
                    >
                        Submit Task
                    </button>
                    {% endif %}

                    <! Flag/Stop >
                    <button
                        id="btnFlag" 
                        type="button" 
                        class="mainButton flag"
                    {% if submission_method == "forced_choice" %}
                        style="margin-left: 15vw;"
                    {% endif %}
                        data-bs-toggle="modal" 
                        data-bs-target="#flagModal">
                        Flag Task
                    </button>
                
                    <button 
                        id="btnStop"
                        type="button"
                        class="mainButton pause"
                    >
                        Exit Task
                    </button>

                    {% else %}
                    <! In-between Tasks >
                    <div class="interTaskBox">
                        {%if tasks_available %}
                        <button type="button" class="mainButton submit duo" id="btnStart">
                            Start New  Task
                        </button>

                        {% else %}
                        <button type="button" class="mainButton submit duo" disabled >
                            No Pending Tasks
                        </button> 
                        
                        {% endif%}
                        
                        <button type="button" class="mainButton flag duo" onclick= "document.location='{% url 'tasks' %}'">
                            Exit Workspace
                        </button>
                        {% endif %}
                    </div>
                </form>
        </div>
    </div>
    
</div>

<form id="flagForm" method="post">
    {% csrf_token %}
    <!-- Modal -->
    <div id="flagModal" class="modal" name="flag" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Flagging Task #{{task_id}}</h5>
                    <button type="button" class="btn-close" id="btnFlagClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" role="form">
                        <div class="form-group">
                            <label class="custom-select-label" for="flag">Please select a reason for flagging this task:</label>
                            <select class="custom-select" name="flag" id="select-flag" onchange=toggleTextbox()>
                                <option value="unknown">Select reason</option>
                                <option value="artifact in the data">Artifact in the data</option>
                                <option value="wrong location">Wrong location</option>
                                <option value="data unable to load">Data unable to load</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none;" id="text">
                            <label for="flag-other">Other reason*</label>
                            <textarea class="form-control" name="flag-other" rows="2" maxlength="100" placeholder="Enter reason" validate></textarea>
                            <small class="form-text text-muted">*100 character limit.</small>
                            <div class="invalid-feedback">Please enter a reason.</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnFlagClose" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnFlagSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div> 
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "workspace/main.bundle.js" %}"></script>
<script type="text/javascript"> 

    // Side Bar Interaction
    if ({{ request.session.num_visits }} === 0) {
       openSideMenu();
    } else if ({{ request.session.sidebar }} === 0) {
       closeSideMenu();
    } else {
       openSideMenu();
    }
    
    function submitForm(value) {
        let data = JSON.stringify(viewer.state.toJSON());
        $('<input>').attr('type', 'hidden').attr('name', 'ngState').attr('value', data).appendTo('#mainForm');
        $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', value).appendTo('#mainForm');
        $('#mainForm').submit();
    }


    $(document).ready(function() {

        var received_data = {{ ng_state|safe }};
        viewer.state.restoreState(received_data);

        $('#btnSave').click(function() {
            window.localStorage['ngState'] = JSON.stringify(viewer.state.toJSON());
        })

        $('#btnReload').click(function() {
            if (window.localStorage.getItem('ngState') !== null){
                let state = JSON.parse(window.localStorage['ngState']);
                viewer.state.restoreState(state)
            }
        })

        if ('{{submission_method}}' == "submit"){
            $('#btnSubmit').click(function(){
                submitForm('submit');
            });

        } else if ('{{submission_method}}' == "forced_choice") {
            $('#btnYes').click(function(){
                submitForm('yes');
            });

            $('#btnYesBut').click(function(){
                submitForm('yesConditional');
            });

            $('#btnNoBut').click(function(){
                submitForm('errorNearby');
            });

            $('#btnNo').click(function(){
                submitForm('no');
            });

            $('#btnUnsure').click(function(){
                submitForm('unsure');
            });
        }
        
        $('#btnFlagSubmit').click(function() {
            let data = JSON.stringify(viewer.state.toJSON());
            $('<input>').attr('type', 'hidden').attr('name', 'ngState').attr('value', data).appendTo('#flagForm');
            $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', 'flag').appendTo('#flagForm');
            $('#flagForm').submit()
        })

        $('#btnStop').click(function(){
            submitForm('stop')
        });

        $('#btnStart').click(function() {
            $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', 'start').appendTo('#mainForm');
            $('#mainForm').submit();
        })
    })

</script>
{% endblock %}