{% extends "base.html" %}
{% load static %}

{% block content %}

<! Information Hidden Menu >

{% if is_open %}
<div class="basic workspace">
{% else %}
<div class="basic interTask">
{% endif %}
    <div id="neuVue-sidemenu" class="sidemenu">
        <div id="neuVue-sidebar" class="sidebar">
            <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
                <i class="glyphicon glyphicon-list"></i>
            </a>  
        </div>
        <div id="neuVue-sidecontent" class="sidecontent">
            
            <! Instructions >
            <div id = "instruction-container" class ="sideContentBox" style="max-height:30%;">
                <div class="sideContentTitle">
                    Instructions
                </div>
                <div class="sideContentInfo">
                    {{ instructions.prompt }}
                </div>
            </div>
            <! Task Notes >
            <div id="tag-container" class = "sideContentBox" style="max-height:35%;">
                <div class="sideContentTitle">
                    Task tags
                </div>
                <div class="sideContentInput" >
                    <textarea class="sideContentTextArea" name="tags" form="mainForm" rows="1" cols="50" placeholder="Comma seperated tags: glia, false split, etc. " spellcheck="false"></textarea>
                </div>
            </div>
            <! Task Information >
            <div id = "instruction-container" class ="sideContentBox" style="max-height:70%;">
                <div class="sideContentTitle">
                    Task Information
                </div>
                <div class="sideContentInfo">
                    Namespace <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{display_name}}')"><i class="fa fa-copy"></i></button> {{display_name}} </span> <br>
                    Task ID <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{task_id}}')"><i class="fa fa-copy"></i></button> {{task_id}} </span> <br>
                    {% if was_skipped %}
                    Skipped <br> 
                    <span class ="code">{{was_skipped}}</span><br>
                    {% endif %}
                    Segmentation ID  <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{seg_id}}')"><i class="fa fa-copy"></i></button> {{seg_id}} </span> <br>
                    PCG Endpoint  <br> 
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{pcg_url}}')"><i class="fa fa-copy"></i></button> {{pcg_url}}  </span>  <br>
                    Tasks Completed This Session <br> 
                    <span class ="code"> {{session_task_count}}  </span>  <br>
                    Neuroglancer Link <br> 
                    <button type="button" class="btn btn-info" onclick="getLink()"> <i class="fa fa-copy"></i> Copy Link to Clipboard </button>  </br>
                    
                </div>
            </div>
            
            <! Shortcuts >
            <div class="sideContentBox" style="padding: 0 !important;">
                <table class="analyticsTable mini">
                    <thead>
                        <tr>
                        <th scope="col">Shortcut</th>
                        <th scope="col">Mac</th>
                        <th scope="col">Windows</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Flag Task</td>
                            <td><kbd>CTRL</kbd>+<kbd>OPT</kbd>+<kbd>F</kbd></td>
                            <td><kbd>ALT</kbd>+<kbd>SHIFT</kbd>+<kbd>F</kbd></td>
                        </tr>
                        <tr>
                            <td scope="row">Exit Task</td>
                            <td><kbd>CTRL</kbd>+<kbd>OPT</kbd>+<kbd>E</kbd></td>
                            <td><kbd>ALT</kbd>+<kbd>SHIFT</kbd>+<kbd>E</kbd></td>
                        </tr>
                        <tr>
                            <td scope="row">Full Screen (Chrome)</td>
                            <td><kbd>CMD</kbd>+<kbd>SHIFT</kbd>+<kbd>F</kbd></td>
                            <td><kbd>F11</kbd></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br><br><br><br>
        </div>
    </div> 
    <! Neuroglancer >
    <div id="neuroglancer" class="leftFormatting">
        <div class="left">
            {% if is_open %}
                {% if submission_method == "forced_choice" %}
                <form id="mainForm" action="" method="post" class="bottomBar" style="order: 0;">
                    {% csrf_token %}

                    <! Submission Options>
                    <button 
                        id="btnYes" 
                        type="button" 
                        class="mainButton submit quad" 
                        onclick="triggerLoadingSpinner('confirm_load')"
                    >
                        <div id = 'confirm_load'>
                             Confirm Split
                         </div>
                    </button>

                    <button 
                        id="btnYesBut" 
                        type="button" 
                        class="mainButton yesBut" 
                        onclick="triggerLoadingSpinner('refinement_load')"
                    >
                        <div id = 'refinement_load'>
                            Split Requires Refinement
                        </div>
                    </button>

                    <button 
                    id="btnNoBut" 
                    type="button" 
                    class="mainButton noBut" 
                    onclick="triggerLoadingSpinner('errorNearby_load')"
                    
                    >
                        <div id = 'errorNearby_load'>
                            Reject Split but Error Nearby
                        </div>
                    </button>

                    <button 
                        id="btnNo" 
                        type="button" 
                        class="mainButton flag quad" 
                        onclick="triggerLoadingSpinner('reject_load')"
                    >
                        <div id = 'reject_load'>
                            Reject Split
                        </div>
                    </button>

                    <button 
                        id="btnUnsure" 
                        type="button" 
                        class="mainButton pause quad" 
                        onclick="triggerLoadingSpinner('unsure_load')"
                    >
                        <div id = 'unsure_load'>
                            Unsure
                        </div>
                    </button>
                    
                </form>
                {% elif submission_method == "decide_and_submit" %}
                    <div id="decide_and_submit_buttons" class="bottomBar" style="order: 0;">
                        <button 
                            id="yes" 
                            type="button" 
                            class="mainButton submit quad" 
                            onclick="updateButtonSelected('yes')"
                        >
                            Confirm Split
                        </button>

                        <button 
                            id="yesConditional" 
                            type="button" 
                            class="mainButton yesBut" 
                            onclick="updateButtonSelected('yesConditional')"
                        >
                            Split Requires Refinement
                        </button>

                        <button 
                        id="errorNearby" 
                        type="button" 
                        class="mainButton noBut" 
                        onclick="updateButtonSelected('errorNearby')"
                        
                        >
                            Reject Split but Error Nearby
                        </button>

                        <button 
                            id="no" 
                            type="button" 
                            class="mainButton flag quad" 
                            onclick="updateButtonSelected('no')"
                        >
                            Reject Split
                        </button>

                        <button 
                            id="unsure" 
                            type="button" 
                            class="mainButton pause quad" 
                            onclick="updateButtonSelected('unsure')"
                        >
                            Unsure
                        </button>

                    </div>
                    
                {% endif %}

                
            {% endif %}
            {% if is_open %}
                <div id="neuroglancer-container" class="neuroglancer-container"></div>
            {% endif %}
            <! Buttons >
                <form id="mainForm" action="" method="post" class="bottomBar">
                    {% csrf_token %}

                    <! Save/Reload >
                    {% if is_open %}
                    {% comment %} <button
                        id="btnSave" 
                        type="button" 
                        class="mainButton" 
                        accesskey="s"
                    >
                        Save Checkpoint
                    </button>
                    
                    <button
                        id="btnReload" 
                        type="button" 
                        class="mainButton"
                        accesskey="r"
                    {% if submission_method == "forced_choice" %}
                        style="margin-right: 15vw;"
                    {% endif %}
                    >
                        Reload Checkpoint
                    </button> {% endcomment %}
                    
                    <! Flag >
                    <button
                        id="btnFlag" 
                        type="button" 
                        class="mainButton flag"
                        accesskey="f"
                    {% if submission_method == "forced_choice" and skipable %}
                        style="margin-left: 20%;"
                    {% elif submission_method == "forced_choice" %}
                        style="margin-left: 30%;"
                    {% elif skipable %}
                        style="margin-left: 10%;"
                    {% else %}
                        style="margin-left: 20%;"
                    {% endif %}
                        data-bs-toggle="modal" 
                        data-bs-target="#flagModal">
                        Flag Task
                    </button>

                    {% if allowed_to_reassgin%}
                    <! Remove >
                    <button
                        id="btnRemove" 
                        type="button" 
                        class="mainButton remove"
                        data-bs-toggle="modal" 
                        data-bs-target="#removeModal"
                    >
                    Remove Task
                    </button>
                    {% endif %}
                    
                    <! Skip >
                    {% if skipable %}
                    <button
                        id="btnSkipSubmit" 
                        type="button" 
                        class="mainButton skip"
                        accesskey="k"
                        onclick="triggerLoadingSpinner('skip_task_load')" 
                    >
                        <div id = 'skip_task_load'>
                            Skip Task
                        </div>
                    </button>
                    {% endif %}

                    <! Submit >
                    {% if submission_method == "submit" %}
                    <button 
                        name="btnSubmit"
                        id="btnSubmit" 
                        type="button" 
                        class="mainButton submit"
                        onclick="triggerLoadingSpinner('submit_task_load')" 
                    >
                        <div id = 'submit_task_load'>
                            Submit Task
                        </div>
                    </button>
                    {% elif submission_method == "decide_and_submit"%}
                    <button 
                        name="btnSubmit"
                        id="btnSubmit" 
                        type="button" 
                        class="mainButton submit"
                    >
                        <div id = 'submit_task_load'>
                            Submit Task
                        </div>
                    </button>
                    {% endif %}
                    
                    <! Stop >
                    <button 
                        id="btnStop"
                        type="button"
                        class="mainButton pause"
                        accesskey="e"
                        onclick="triggerLoadingSpinner('exit_task_load')"
                    >
                        <div id = 'exit_task_load'>
                            Save and Exit Task
                        </div>
                    </button>

                    {% else %}
                    <! In-between Tasks >
                    <div class="interTaskBox">
                        <div class="interTaskTitle">
                            Tasks Complete <br> {{display_name}} 
                        </div>
                        <button 
                            type="button" 
                            class="mainButton return" 
                            onclick= "document.location='{% url 'tasks' %}';triggerLoadingSpinner('exit_workspace')">
                            <div id = 'exit_workspace'>
                                Return to Task page
                            </div>
                        </button>
                        {% endif %}
                    </div>
                </form>
        </div>
    </div>
    <div style="display:none;">
        <div id = 'loading-spinner' class="spinner-border spinner-border-sm" role="status" style="margin: auto;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<form id="flagForm" method="post">
    {% csrf_token %}
    <!-- Modal -->
    <div id="flagModal" class="modal" name="flag" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;">Flagging Task #{{task_id}}</h5>
                    <button type="button" class="btn-close" id="btnFlagClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" role="form">
                        <div class="form-group">
                            <label for="flag" style="color: black;">Please select a reason for flagging this task:</label>
                            <select class="form-select" name="flag" id="select-flag" onchange=toggleTextbox()>
                                <option value="unknown">Select reason</option>
                                <option value="artifact in the data">Artifact in the data</option>
                                <option value="wrong location">Wrong location</option>
                                <option value="data unable to load">Data unable to load</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none;" id="text">
                            <label for="flag-other">Other reason*</label>
                            <textarea class="form-control" name="flag-other" rows="2" maxlength="100" placeholder="Enter reason" validate></textarea>
                            <small class="form-text text-muted">*100 character limit.</small>
                            <div class="invalid-feedback">Please enter a reason.</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnFlagClose" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="flag-submit btn btn-primary" id="btnFlagSubmit" onclick="triggerLoadingSpinner('btnFlagSubmit')">Submit</button>
                </div>
            </div>
        </div>
    </div> 
</form>

<!-- Remove task Modal -->
<div id="removeModal" class="modal" name="remove" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black; text-align: center;">Are you sure you want to remove this task from your queue?</h5>
                <button type="button" class="btn-close" id="btnRemoveClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnRemoveClose" data-bs-dismiss="modal">No</button>
                <button type="button" class="remove-yes btn btn-primary" id="btnRemoveSubmit" onclick="triggerLoadingSpinner('btnRemoveSubmit')" >Yes</button>
            </div>
        </div>
    </div>
</div> 

<div id="timeoutModal" class="modal" name="flag" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black;">Continue proofreading?</h5>
                <button type="button" class="btn-close" id="btnTimeoutClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="timeoutModalNo" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="timeoutModalYes" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div> 
<style> .overlay { display:none; } </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "workspace/main.bundle.js" %}"></script>
<script type="text/javascript"> 
    // Delete previous state info
    // window.localStorage.removeItem("ngState")
    function getLink() {
        viewer.postJsonState(true, undefined, true, function() {
        let url_prefix = "https://neuroglancer.neuvue.io/?json_url="
        copyToClipboard(url_prefix.concat(viewer.saver.savedUrl));
        });
    }

    if (window.localStorage.getItem('sidebarStatus') == 'open') {
        openSideMenu();
    } else if (window.localStorage.getItem('sidebarStatus') == 'closed') {
        closeSideMenu();
    } else {
        openSideMenu();
    }
    
     
     function show3DSlices() {
        let slices = '{{show_slices}}';
        if (slices == 'True' && !viewer.showPerspectiveSliceViews.value_){
            viewer.showPerspectiveSliceViews.toggle();
         }
     }
     
    function submitForm(value, form='#mainForm') {
        window.removeEventListener('beforeunload', exitAlert);
        let data = JSON.stringify(viewer.state.toJSON());
        let ng_differ_stack = JSON.stringify(viewer.differ.stack);
        let duration = Math.floor(Date.now()/1000) - startTime - totalIdleTime;
        let new_operation_ids = '[]';
        
        if (typeof operation_ids !== 'undefined') {
            new_operation_ids = JSON.stringify(operation_ids);
        }

        $('<input>').attr('type', 'hidden').attr('name', 'ngState').attr('value', data).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', value).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'duration').attr('value', duration).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'ngDifferStack').attr('value', ng_differ_stack).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'new_operation_ids').attr('value', new_operation_ids).appendTo(form);
        $(form).submit();
    }

    function exitAlert(e) {
        e.preventDefault(); 
        e.returnValue = '';
    }
    
    // Current time 
    var startTime = Math.floor(Date.now()/1000);
    
    // Inactivity Timer
    var idleTime = 0;
    var totalIdleTime = 0;

    // seconds to check for inactivity
    var incrementAmount = 5;
    
    // Increment the idle time counter every minute.
    setInterval(timerIncrement, incrementAmount*1000); 

    // Zero the idle timer on mouse movement or keypress.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });

    function timerIncrement() {
        if ('{{is_open}}' && idleTime >= '{{timeout}}') { 
            $('#timeoutModal').modal('show');
            totalIdleTime += incrementAmount;
        }
        idleTime += incrementAmount;
    }

    var current_button_selection = 'noneSelected'

    function updateButtonSelected(button_title){
        // deactivate the old button
        if (current_button_selection != 'noneSelected'){
            var previously_selecected_button = document.getElementById(current_button_selection);
            previously_selecected_button.classList.toggle("active");
        }
        // activate the new one
        current_button_selection = button_title;
        var selected_button = document.getElementById(button_title);
        selected_button.classList.toggle("active");
    }

    // Button Submission
    $(document).ready(function() {
        var received_data = {{ ng_state|safe }};
        viewer.state.restoreState(received_data);

        // $('#btnSave').click(function() {
        //    window.localStorage['ngState'] = JSON.stringify(viewer.state.toJSON());
        // }) 

        //  $('#btnReload').click(function() {
        //      if (window.localStorage.getItem('ngState') !== null){
        //          let state = JSON.parse(window.localStorage['ngState']);
        //          viewer.state.restoreState(state)
        //      }
        //  })

        if ('{{submission_method}}' == "submit"){
            $('#btnSubmit').click(function(){
                submitForm('submit');
            });
        } else if ('{{submission_method}}' == "forced_choice") {
            $('#btnYes').click(function(){
                submitForm('yes');
            });

            $('#btnYesBut').click(function(){
                submitForm('yesConditional');
            });

            $('#btnNoBut').click(function(){
                submitForm('errorNearby');
            });

            $('#btnNo').click(function(){
                submitForm('no');
            });

            $('#btnUnsure').click(function(){
                submitForm('unsure');
            });
        } else if ('{{submission_method}}' == "decide_and_submit"){
            $('#btnSubmit').click(function(){
                if (current_button_selection != 'noneSelected'){
                    triggerLoadingSpinner('submit_task_load');
                    submitForm(current_button_selection);
                } else {
                    alert("Please select a decision!");
                }
            });
        }

        $('#btnSkipSubmit').click(function() {
            submitForm('skip')
        })

        $('#btnRemoveSubmit').click(function() {
            submitForm('remove')
        })
        
        $('#btnFlagSubmit').click(function() {
            submitForm('flag', '#flagForm')
        })

        $('#btnStop').click(function(){
            submitForm('stop');
        });

        $('#btnStart').click(function() {
            $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', 'start').appendTo('#mainForm');
            $('#mainForm').submit();
        })
        
        $('#timeoutModalNo').click(function() {
            submitForm('stop');
        });

        show3DSlices();
    })
    
    {% if is_open %}
    window.addEventListener('beforeunload', exitAlert);
    {% endif %}

    // Disable ctrl + scroll zooming to deconflict with ngl keybinding
    document.addEventListener("wheel", e => {
        if(e.ctrlKey) {
            e.preventDefault(); //prevent zoom
        }
    },
    { passive: false });

</script>
{% endblock %}