{% extends "base.html" %}
{% load static %}
{% load inclusion_tags %}
{% block title %}{{display_name}} Workspace{% endblock %}

{% block content %}

<! Information Hidden Menu >

{% if is_open %}
<div class="basic workspace overflow-hidden">
{% else %}
<div class="basic interTask">
{% endif %}
    <div id="neuVue-sidemenu" class="sidemenu">
        <div id="neuVue-sidebar" class="sidebar">
            <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
                <i class="glyphicon glyphicon-list"></i>
            </a>
        </div>
        <div id="neuVue-sidecontent" class="sidecontent">

            <! Instructions >
            {% processed_instructions instructions %}

            <! Task Notes >
            <div id="tag-container" class = "sideContentBox" style="max-height:35%;">
                <div class="sideContentTitle">
                    Task Tags
                </div>
                <div class="sideContentInput" >
                    {% if tags %}
                        <input name='tags' class="sideContentTextArea" form="mainForm" value='{{tags}}' data-role="tagsinput" autofocus>
                    {% else %}
                        <input name='tags' class="sideContentTextArea" form="mainForm" data-role="tagsinput" autofocus>
                    {% endif %}
                </div>
            </div>

            <! Ng State Plugins >
            {% if ng_state_plugin != "None" %}
            <div id="tag-container" class = "sideContentBox" style="max-height:35%;">
                <div class="sideContentTitle">
                    Workspace Plugins
                    <div>
                        <button type="button" class="btn btn-info" onclick="applyNgStatePlugin()">
                            <i class="fa fa-sync-alt"></i> Apply {{ng_state_plugin}} Plugin
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}

            <! Task Information >
            <div id = "instruction-container" class ="sideContentBox" style="max-height:70%;">
                <div class="sideContentTitle">
                    Task Information
                </div>
                <div class="sideContentInfo">
                    Namespace <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{display_name}}')"><i class="fa fa-copy"></i></button> {{display_name}} </span> <br>
                    Task ID <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{task_id}}')"><i class="fa fa-copy"></i></button> {{task_id}} </span> <br>
                    Segmentation ID  <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{seg_id}}')"><i class="fa fa-copy"></i></button> {{seg_id}} </span> <br>
                    PCG Endpoint  <br>
                    <span class ="code"> <button class="clipboard" onclick="copyToClipboard('{{pcg_url}}')"><i class="fa fa-copy"></i></button> {{pcg_url}}  </span>  <br>
                    {% if was_skipped %}
                    Skipped <br>
                    <span class ="code">{{was_skipped}}</span><br>
                    {% endif %}

                    Number of Edits <br>
                    <span class ="code" id="num_edits">{{num_edits}}</span><br>

                    Tasks Completed This Session <br>
                    <span class ="code"> {{session_task_count}}  </span>  <br>
                    Neuroglancer Link <br>
                    <button type="button" class="btn btn-info" onclick="getLink()"> <i class="fa fa-copy"></i> Copy Link to Clipboard </button>  </br>

                </div>
            </div>

            <br><br><br><br><br>
        </div>
    </div>
    <! Neuroglancer >
    <div id="neuroglancer" class="leftFormatting">
        <div class="left">
            {% if is_open %}
            <! Submission Options>
                <! Forced Choice>
                <form id="mainForm" action="" method="post" class="bottomBar justify-content-center" style="order: 0;">
                    {% csrf_token %}
                    {% for button in button_list %}
                        <style>
                            .{{button.submission_value}} {
                                background-color: {{button.button_color}};
                            }
                            .{{button.submission_value}}:hover {
                                background-color: {{button.button_color_active}};
                                border: 2.5px solid {{button.button_color_active}};
                            }
                            {% if submit_task_button %}
                            .{{button.submission_value}}.active {
                                background-color: {{button.button_color_active}};
                            }
                            {% endif %}
                        </style>
                        <div class="mainButtonWrapper forcedChoiceWrapper">
                            <button
                                id="{{button.submission_value}}"
                                type="button"
                                class="forcedChoiceButton {{button.submission_value}}"
                                {% if submit_task_button %}
                                    onclick="updateButtonSelected('{{button.submission_value}}')"
                                {% else %}
                                    onclick="triggerLoadingSpinner('{{button.submission_value}}_load')"
                                {% endif %}
                            >
                                <div id = '{{button.submission_value}}_load'>
                                    {{button.display_name}}
                                </div>
                            </button>
                            <div class="hotkeyHint forcedChoiceHotkeyHint" style="display: none;">
                                <span class="modifier"></span><span class="hotkey_button">+ <kbd>{{button.hotkey}}</kbd></span>
                            </div>
                        </div>
                    {% endfor %}
            </form>

            <! Neuroglancer Container>
            {% if ng_url %}
            <iframe src="{{ng_url}}" class="neuroglancer-container" id="neuroglancer-container"></iframe>
            {% else %}
            <div id="neuroglancer-container" class="neuroglancer-container"></div>
            {% endif %}
            <! Buttons >
            <form id="mainForm" action="" method="post" class="bottomBar justify-content-center">
                {% csrf_token %}
                <! Flag >
                <div class="mainButtonWrapper">
                    <button
                        id="btnFlag"
                        type="button"
                        class="mainButton flag"
                        accesskey="f"
                        data-bs-toggle="modal"
                        data-bs-target="#flagModal">
                        Flag Task
                    </button>
                    <div class="hotkeyHint">
                        <span class="modifier"></span><span> + <kbd>f</kbd> </span>
                    </div>
                </div>

                {% if allowed_to_reassgin%}
                <! Remove >
                <div class="mainButtonWrapper">
                    <button
                        id="btnRemove"
                        type="button"
                        class="mainButton remove"
                        data-bs-toggle="modal"
                        data-bs-target="#removeModal"
                        >
                        Remove Task
                    </button>
                </div>
                {% endif %}

                <! Skip >
                {% if skippable %}
                <div class="mainButtonWrapper">
                    <button
                        id="btnSkipSubmit"
                        type="button"
                        class="mainButton skip"
                        accesskey="k"
                        onclick="triggerLoadingSpinner('skip_task_load')"
                    >
                        <div id = 'skip_task_load'>
                            Skip Task
                        </div>
                    </button>
                    <div class="hotkeyHint">
                        <span class="modifier"></span><span> + <kbd>k</kbd></span>
                    </div>

                </div>
                {% endif %}

                <! Submit >
                {% if submit_task_button %}
                <div class="mainButtonWrapper">
                    <button
                        name="btnSubmit"
                        id="btnSubmit"
                        type="button"
                        class="mainButton submit"
                        onclick="triggerLoadingSpinner('submit_task_load')"
                    >
                        <div id = 'submit_task_load'>
                            Submit Task
                        </div>
                    </button>
                </div>
                {% endif %}

                <! Save State >
                <div class="mainButtonWrapper">
                    <button
                        id="btnSaveState"
                        type="button"
                        class="mainButton save_state"
                        onclick="triggerLoadingSpinner('save_state')"
                        >
                        <div id = 'save_state'>
                            Save State
                        </div>
                    </button>
                </div>

                <! Stop >
                <div class="mainButtonWrapper">
                    <button
                        id="btnStop"
                        type="button"
                        class="mainButton pause"
                        accesskey="e"
                        onclick="triggerLoadingSpinner('exit_task_load')"
                    >
                        <div id = 'exit_task_load'>
                            Save and Exit Task
                        </div>
                    </button>
                    <div class="hotkeyHint">
                        <span class="modifier"></span><span class="hotkey_button"> + <kbd>e</kbd></span>
                    </div>
                </div>

                {% else %}
                <! In-between Tasks >
                <div class="interTaskBox">
                    <div class="interTaskTitle">
                        Tasks Complete <br> {{display_name}}
                    </div>
                    <div class="mainButtonWrapper">
                        <button
                            type="button"
                            class="mainButton return"
                            onclick= "document.location='{% url 'tasks' %}';triggerLoadingSpinner('exit_workspace')">
                            <div id = 'exit_workspace'>
                                Return to Task page
                            </div>
                        </button>
                    </div>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div style="display:none;">
        <div id = 'loading-spinner' class="spinner-border spinner-border-sm" role="status" style="margin: auto;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- Triggerable elements -->

    <!-- Toast -->
    <div class="position-fixed bottom-0 end-0 p-3 translate-middle-x mt-5">
        <div id="toast" class="toast align-items-center bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"> <!-- triggerToast will fill in text here--> </div>
                <button id="close-toast" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
{% flag_modal task_id %}
{% remove_task_modal %}
{% timeout_modal %}
{% confirm_selected_segments_modal number_of_selected_segments_expected %}

<style> .overlay-hidden { display:none; } </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script type="text/javascript"  src="{% static 'js/browser-interaction-time.umd.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

{% if ng_host == "spelunker" %}
<script defer src="822.js"></script><script defer src="213.js"></script><script defer src="588.js"></script><script defer src="103.js"></script><script defer src="main.js"></script><link href="main.css" rel="stylesheet">
{% else %}
<script type="text/javascript" src="{% static 'workspace/main.bundle.js' %}"></script>
{% endif %}

<script type="text/javascript">

    // initialize Tagify on the above input node reference
    let input = document.querySelector('input[name="tags"]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
        {% if instructions.tags %}
        whitelist: {{instructions.tags | safe}},
        {% endif %}
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
        maxTags: 10,
        dropdown: {
            maxItems: 20,           // <- mixumum allowed rendered suggestions
            classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
            enabled: 0,             // <- show suggestions on focus
            closeOnSelect: true,    // <- do not hide the suggestions dropdown once an item has been selected
        }
    })

    function getLink() {
        {% if ng_host == "neuvue" %}
            viewer.postJsonState(true, undefined, true, function() {
                let url_prefix = "https://neuroglancer.neuvue.io/?json_url="
                copyToClipboard(url_prefix.concat(viewer.saver.savedUrl));
                triggerToast("Copied link to clipboard");
            });
        {% elif ng_host == "spelunker" %}
            let url_prefix = "https://spelunker.cave-explorer.org/#!";
            copyToClipboard(url_prefix.concat(JSON.stringify(viewer.state.toJSON())));
            triggerToast("Copied link to clipboard");
        {% else %}
            triggerToast("Copy Link unavailable on embedded Neuroglancer task type");
        {% endif %}
    }

    function saveState() {
        {% if ng_host == "neuvue" %}
        viewer.postJsonState(true, undefined, true, function() {
            let state = viewer.saver.savedUrl;
            let post_body = JSON.stringify({'task_id':"{{task_id}}", 'ng_state' : state});
            fetch('/save_state', {body: post_body, headers: {"X-CSRFToken": getCookie("csrftoken")}, method: "POST"})
                .then((response) => {
                    response.text()
                    .then((text) => {
                        removeLoadingSpinner("save_state", "Save State");
                        triggerToast(text)
                    })
                });
        });
        {% else %}
        triggerToast("State saving disabled for non-native Neuroglancer");
        removeLoadingSpinner("save_state", "Save State");
        {% endif %}
    }

    function applyNgStatePlugin() {
        let state = viewer.state.toJSON();
        let post_body = JSON.stringify({'ng_state_plugin': "{{ng_state_plugin}}", 'ng_state' : state});
        fetch(
            '/ngStatePlugin',
            {body: post_body, headers: {"X-CSRFToken": getCookie("csrftoken")}, method: "POST"}
        ).then((response) => {
            if (!response.ok) {
                response.text()
                .then((text) => {
                    console.error(text)
                })
            } else {
                response.json()
                .then((jsonResponse) => {
                    // Set the current ng state to whatever is returned
                    viewer.state.restoreState(jsonResponse);
                })
                .catch((error) => {
                    console.error(error.message || error)
                })
            }
        });
    }

    function show3DSlices() {
        let slices = '{{show_slices}}';
        if (slices == 'True' && !viewer.showPerspectiveSliceViews.value_){
            viewer.showPerspectiveSliceViews.toggle();
        }
    }

    function getSelectedSegments(state) {
        selectedSegments = new Set();
        viewer.state.toJSON().layers.forEach( layer => {
            if (layer.type === "segmentation_with_graph" || layer.type === "segmentation") {
                layer.segments.forEach( (segment) => {
                    selectedSegments.add(segment);
                })
            }
        })
        return Array.from(selectedSegments);;
    }

    // Track operation ids and save operation IDs
    function saveOperations() {
        let post_body = JSON.stringify({
            'task_id':"{{task_id}}",
            'operation_ids' : Array.from(tracked_new_operations),
            'namespace':'{{namespace}}'
        });
        fetch('/save_operations', {body: post_body, headers: {"X-CSRFToken": getCookie("csrftoken")}, method: "POST"})
            .then((response) => {
                response.text()
                .then((text) => {
                    triggerToast(text)
                })
            });
    }

    const tracked_new_operations = new Set();
    function updateTrackedOperations(current_operation_ids){
        if (current_operation_ids && current_operation_ids.length > 0) {
            for (const [idx, ele] of current_operation_ids.entries()){
                if (!tracked_new_operations.has(ele)){
                    tracked_new_operations.add(ele);
                    saveOperations();
                    var num_edits_div = document.getElementById('num_edits');
                    num_edits_div.innerHTML = parseInt('{{num_edits}}',10) + tracked_new_operations.size;
                }
            }
        }
    }

    function getOperationIdsFromSpelunker(){
        for (let i = 0; i < viewer.layerManager.managedLayers.length; i++) {
            const layer = viewer.layerManager.managedLayers[i].layer_;
            if (layer.type === 'segmentation') {
                const operationIds = layer.graphConnection.value.operationIds.toString();
                return operationIds.split(',').map(Number);
            }
        }
    }

    function submitForm(value, form='#mainForm') {
        window.removeEventListener('beforeunload', exitAlert);
        let duration = Math.round(browserTimer.getTimeInMilliseconds()/1000);

        {% if ng_url %}

        $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', value).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'duration').attr('value', duration).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'taskId').attr('value', "{{task_id}}").appendTo(form);
        $(form).submit();

        {% elif ng_host == "spelunker" %}
        // updateTrackedOperations(getOperationIdsFromSpelunker())
        let state = JSON.stringify(viewer.state.toJSON());
        $('<input>').attr('type', 'hidden').attr('name', 'ngState').attr('value', state).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', value).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'duration').attr('value', duration).appendTo(form);
        $('<input>').attr('type', 'hidden').attr('name', 'taskId').attr('value', "{{task_id}}").appendTo(form);

        $(form).submit();

        {% else %}
        //updateTrackedOperations(operation_ids)
        viewer.postJsonState(true, undefined, true, function() {
            let state = viewer.saver.savedUrl;
            // Check if state successfully saved. If not use the raw JSON state
            if (!state) {
                state = JSON.stringify(viewer.state.toJSON());
            }

            let ng_differ_stack = JSON.stringify(viewer.differ.stack);

            $('<input>').attr('type', 'hidden').attr('name', 'ngState').attr('value', state).appendTo(form);
            $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', value).appendTo(form);
            $('<input>').attr('type', 'hidden').attr('name', 'duration').attr('value', duration).appendTo(form);
            $('<input>').attr('type', 'hidden').attr('name', 'ngDifferStack').attr('value', ng_differ_stack).appendTo(form);
            $('<input>').attr('type', 'hidden').attr('name', 'taskId').attr('value', "{{task_id}}").appendTo(form);

            {% if track_selected_segments %}
            const selected_segments = getSelectedSegments(viewer.state);
            $('<input>').attr('type', 'hidden').attr('name', 'selected_segments').attr('value', selected_segments).appendTo(form);
            {% endif %}

            $(form).submit();
        })

        {% endif %}
    }

    function exitAlert(e) {
        e.preventDefault();
        e.returnValue = '';
    }

    function triggerToast(toastText) {
        const toastBody = document.getElementById('toast-body');
        toastBody.textContent = toastText;
        const toastDiv = document.getElementById('toast');
        const toast = new bootstrap.Toast(toastDiv);
        toast.show();
    }

    // create browser interaction timer
    const browserTimer = new browserInteractionTime({
            timeIntervalEllapsedCallbacks: [{
            timeInMilliseconds: 60000,
            callback: () => saveState(),
            multiplier: x => x + 3e5
        }],
        absoluteTimeEllapsedCallbacks: [],
        browserTabInactiveCallbacks: [],
        browserTabActiveCallbacks: [],
        idleTimeoutMs: 10000,
        checkCallbacksIntervalMs: 250
    })

    // forced choice button selection logic
    var current_button_selection = 'noneSelected'

    function updateButtonSelected(button_title){
        // deactivate the old button
        if (current_button_selection != 'noneSelected'){
            var previously_selecected_button = document.getElementById(current_button_selection);
            previously_selecected_button.classList.toggle("active");
        }
        // activate the new one
        current_button_selection = button_title;
        var selected_button = document.getElementById(button_title);
        selected_button.classList.toggle("active");
    }

    // Function to attempt restoring the viewer state
    function tryRestoreState() {
        if (typeof viewer !== 'undefined') {
        // Viewer is defined, attempt to restore the state
        try {
            var received_data = {{ ng_state|safe }};
            viewer.state.restoreState(received_data);
            console.log('Viewer state restored successfully.');
        } catch (error) {
            console.error('Error restoring viewer state:', error);
        }
        } else {
        // Viewer is not yet defined, retry after a short delay
        setTimeout(tryRestoreState, 100); // Retry every 100 milliseconds
        }
    }

    // Button Submission
    $(document).ready(function() {

        // Start Timer for duration tracking and auto-save
        browserTimer.startTimer();


        // Fix undefined operation ID
        let operation_ids = [];

        // Sidebar Preference
        if (window.localStorage.getItem('sidebarStatus') == 'closed') {
            closeSideMenu();
        } else {
            openSideMenu();
        }

        // Specific to built-in NG
        {% if not ng_url%}
        tryRestoreState()
        // Track operation IDs every three seconds
        window.setInterval(function() {
            {% if ng_host == "spelunker" %}
            // updateTrackedOperations(getOperationIdsFromSpelunker());
            console.log("skipping operation_ids")
            {% else %}
            //updateTrackedOperations(operation_ids);
            console.log("skipping operation_ids")
            {% endif %}
        }, 3000);
        {% endif %}

        // alter hotkey hints based on operating system
        var os = navigator.platform.toLowerCase();
        var modifier = "Alt";
        if (os.includes('mac')) {
            modifier = "⌥";
        }

        var hotkey_hint_obs = document.getElementsByClassName("hotkeyHint");
        for (var i = 0; i < hotkey_hint_obs.length; i++) {
            var modifier_text = hotkey_hint_obs.item(i).getElementsByClassName("modifier").item(0);
            if (modifier_text){
                modifier_text.innerHTML = modifier;
            }
        }

        // show valid hotkey hints for forced choice buttons
        var forced_choice_hotkey_hints = document.getElementsByClassName("forcedChoiceHotkeyHint");
        for (var i = 0; i < forced_choice_hotkey_hints.length; i++) {
            var hotkey_text = forced_choice_hotkey_hints.item(i).getElementsByClassName("hotkey_button").item(0).innerHTML.toLowerCase();
            if (!(hotkey_text.includes('none'))) {
                forced_choice_hotkey_hints.item(i).style.display = 'block';
            }
        }

        // If number_of_selected_segments_expected is set at the namespace level,
        // show a modal if the user has selected more
        function submitWithSelectedSegmentsCheck(buttonId, buttonSubmissionValue, buttonDisplayName) {
            {% if number_of_selected_segments_expected %}
                const num_selected_segments = getSelectedSegments(viewer.state).length;
                if (num_selected_segments > "{{number_of_selected_segments_expected}}") {
                    showConfirmSelectedSegmentsModal(buttonId, buttonSubmissionValue, buttonDisplayName, num_selected_segments)
                } else {
                    submitForm(buttonSubmissionValue);
                }
            {% else %}
            submitForm(buttonSubmissionValue);
            {% endif %}
        }

        {% if submit_task_button %}
            {% if button_list %}
                $('#btnSubmit').click(function(){
                    if (current_button_selection != 'noneSelected'){
                        triggerLoadingSpinner('submit_task_load');
                        submitWithSelectedSegmentsCheck('submit_task_load', current_button_selection, 'Submit Task');
                    } else {
                        alert("Please select a decision!");
                    }
                });
            {% else %}
                $('#btnSubmit').click(function(){
                    submitWithSelectedSegmentsCheck('submit_task_load', 'submit', 'Submit Task');
                });
            {% endif %}
        {% else %}
            {% for button in button_list %}
                $("#{{button.submission_value}}").click(function(){
                    submitWithSelectedSegmentsCheck("{{button.submission_value}}" + "_load", "{{button.submission_value}}", "{{button.display_name}}");
                });
            {% endfor %}
        {% endif %}

        var button_id_to_hotkey = {}
        {% for button in button_list %}
                var button_id = "{{button.submission_value}}";
                var hotkey = "{{button.hotkey}}"
                button_id_to_hotkey[button_id] = hotkey;
        {% endfor %}

        $('#btnSkipSubmit').click(function() {
            submitForm('skip')
        })

        $('#btnRemoveSubmit').click(function() {
            submitForm('remove')
        })

        $('#btnFlagSubmit').click(function() {
            submitForm('flag', '#flagForm')
        })

        $('#btnSaveState').click(function() {
            saveState();
        })

        $('#btnStop').click(function(){
            submitForm('stop');
        });

        $('#btnStart').click(function() {
            $('<input>').attr('type', 'hidden').attr('name', 'button').attr('value', 'start').appendTo('#mainForm');
            $('#mainForm').submit();
        })

        $('#timeoutModalNo').click(function() {
            submitForm('stop');
        });

        show3DSlices();

        // additional hotkeys
        document.addEventListener("keydown", function(event) {
            // define key character to charcode mapping
            var char_to_key_code = {'c': 67, 'd': 68, 'j': 74, 'm': 77, 'q': 81,
                'r': 82, 't': 84, 'v': 86, 'w': 87, 'y': 89, 'z': 90};

            // iterate through forced choice buttons to check for hotkey action
            var button_list = document.getElementsByClassName('forcedChoiceButton');
            for (var i = 0; i < button_list.length; i++) {
                var button = button_list.item(i);
                var id = button.id;
                var button_hotkey = button_id_to_hotkey[id];
                var button_hotkey_code = char_to_key_code[button_hotkey];

                if (event.altKey && event.keyCode == button_hotkey_code) {
                    button.click();
                }
            }

            // additional hotkeys
            if (event.altKey && event.keyCode == 75){
                // alt + k: save checkpoint
                $('#btnSkipSubmit').click();
            } else if (event.altKey && (event.keyCode == 70)){
                // alt + f: flag task
                $('#btnFlag').click();
            } else if (event.altKey && (event.keyCode == 69)){
                // alt + e: exit task load
                $('#btnStop').click();
            }

        });

        // Disable ctrl + scroll zooming to deconflict with ngl keybinding
        document.addEventListener("wheel", e => {
            if(e.ctrlKey) {
                e.preventDefault(); //prevent zoom
            }
        }, { passive: false });

        {% if is_open %}
        window.addEventListener('beforeunload', exitAlert);
        {% endif %}

    });

</script>
{% endblock %}
