{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
<!DOCTYPE html>
<html>
<head>


</head>
  <body>
    <div class="index-title-container">
      <span class="index-title-text">Welcome to NeuVue</span>
    </div>
    
    <div class="index-title-container">
      <a href="{% provider_login_url 'google' %}" ><img width="200"src="static/images/google.png" ></a>
    </div>
  </body>
</html>

{% endif %}
{% endblock %}