<div id="instruction-container" class="sideContentBox nv-instructions-panel">
    <div class="sideContentTitle">
        Instructions
    </div>
    <div class="sideContentInfo">
        <div class="prompt">{{ instructions.prompt | safe | linebreaksbr }}</div>

        {% if instructions.media %}
            <br>
            <div class="nv-instruction-media">
                <img src="{{ instructions.media }}" class="instruction-image" onclick="window.open('{{ instructions.media }}')" alt="">
            </div>
        {% endif %}
    </div>
</div>

<script>
    document.querySelectorAll(".prompt a").forEach((link) => {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
    });
</script>
