{% load static %}
{% if ng_host == "spelunker" %}
<script defer src="/static/spelunker-workspace/453.js"></script>
<script defer src="/static/spelunker-workspace/71.js"></script>
<script defer src="/static/spelunker-workspace/74.js"></script>
<script defer src="/static/spelunker-workspace/741.js"></script>
<script defer src="/static/spelunker-workspace/main.js"></script>
<link href="/static/spelunker-workspace/main.css" rel="stylesheet">
{% else %}
<script src="{% static 'workspace/main.bundle.js' %}"></script>
{% endif %}
