<script type="text/javascript">

    // Trigger confirm modal
    // TODO: how can I pass inclusion tag context to this function?
    $("#{{button_id}}").click(function (){
        const input = document.getElementById("{{column}}_input")
        const action = "{{column}}".toUpperCase()
        if (getSelectedTasks() == 0){
           // do something here?
        }
        else if (input == null){
            const confirmModalBody = document.getElementById("{{confirm_text_id}}");
            confirmModalBody.innerHTML = `${action} these tasks?`;
            confirmModalBody.innerHTML += make_list_of_checked_elements();
            $("#userModal").modal("toggle")
            $("#{{modal_id}}").modal("toggle")
        } 
        else if (input.value == "") {
            input.style.backgroundColor = "indianred";
        } 
        else {
            const confirmModalBody = document.getElementById("{{confirm_text_id}}");
            confirmModalBody.innerHTML = `${action} these tasks to <b>${input.value}</b> </b>?`;
            confirmModalBody.innerHTML += make_list_of_checked_elements();
            $("#userModal").modal("toggle")
            $("#{{modal_id}}").modal("toggle")
        }
    });
</script>