{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}

<div class="row">

    <div class="jobQueue" >
        <div class="row">
            <div class="launch_NG" onclick= "document.location='{% url 'workspace' %}'"> 
                <div class ="launch_NG_text">
                    Start Proofreading
                </div>
            </div>
            <div id="SomaSplit" class="jobHeader active" onclick="tableHide('SomaSplit','SomaSplitTable')">Soma Splitting Tasks</div>
        </div>
        <div id='SomaSplitTable' class ="bin" style="display:block;">
            <div class="tab">
                <button id = "pendingSplitTab" class="tablinks" onclick="tabToggle(event, 'Pending_Split',0,2,'pendingSplitTab')">Pending</button>
                <button id = "closedSplitTab" class="tablinks" onclick="tabToggle(event, 'Closed_Split',0,2,'closedSplitTab')">Closed</button>
            </div>
            <div id="Pending_Split" class="tabcontent">
                <div>
                    <table>
                        <tbody class = "pending">
                            <tr>
                                <th>Task ID</th>
                                <th>Seg ID</th>
                                <th>Priority</th>
                                <th>Created Time</th>
                                
                            </tr>
                            <tr>
                                <td>splitcomp</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>n/a</td>
                            </tr>
                            <tr>
                                <td>223</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>low resolution</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="Closed_Split" class="tabcontent">
                <div>
                    <table>
                        <tr>
                            <th>Task ID</th>
                            <th>Seg ID</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Flag Reason</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>splitclosed</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td>223</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>low resolution</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="launch_NG" onclick= "document.location='{% url 'workspace' %}'">
                <div class ="launch_NG_text">
                    Start Proofreading
                </div>
            </div>
            <div id='SomaMerge' class="jobHeader active" onclick="tableHide('SomaMerge','SomaMergeTable')">Soma Merging Tasks</div>
        </div>
        <div id='SomaMergeTable' class ="bin" style="display:block;">
            <div class="tab">
                <button id = "pendingMergeTab" class="tablinks" onclick="tabToggle(event, 'Pending_Merge',2,4,'pendingMergeTab')">Pending</button>
                <button id = "closedMergeTab" class="tablinks" onclick="tabToggle(event, 'Closed_Merge',2,4,'closedMergeTab')">Closed</button>
            </div>
    
            <div id="Pending_Merge" class="tabcontent">
                <div>
                    <table>
                        <tbody class = "pending">
                            <tr>
                                <th>Task ID</th>
                                <th>Seg ID</th>
                                <th>Priority</th>
                                <th>Created Time</th>
                            </tr>
                            <tr>
                                <td>mergecomp</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>n/a</td>
                            </tr>
                            <tr>
                                <td>223</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>low resolution</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="Closed_Merge" class="tabcontent">
                <div>
                    <table>
                        <tr>
                            <th>Task ID</th>
                            <th>Seg ID</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Flag Reason</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>closemerge</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td>223</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>low resolution</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="launch_NG" onclick= "document.location='{% url 'workspace' %}'">
                <div class ="launch_NG_text">
                    Start Proofreading
                </div>
            </div>
            <div id='SomaOther' class="jobHeader active" onclick="tableHide('SomaOther','SomaOtherTable')">Soma Other Tasks</div>
        </div>
        <div id='SomaOtherTable' class ="bin" style="display:block;">
            <div class="tab">
                <button id = "pendingOtherTab" class="tablinks" onclick="tabToggle(event, 'Pending_Other',4,6,'pendingOtherTab')">Pending</button>
                <button id = "closedOtherTab" class="tablinks" onclick="tabToggle(event, 'Closed_Other',4,6,'closedOtherTab')">Closed</button>
            </div>
            <div id="Pending_Other" class="tabcontent">
                <div>
                    <table>
                        <tbody class = "pending">
                            <tr>
                                <th>Task ID</th>
                                <th>Seg ID</th>
                                <th>Priority</th>
                                <th>Created Time</th>
                            </tr>
                            <tr>
                                <td>mergecomp</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>n/a</td>
                            </tr>
                            <tr>
                                <td>223</td>
                                <td>October 1, 2021 12:43:26</td>
                                <td>October 1, 2021 13:15:46</td>
                                <td>low resolution</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="Closed_Other" class="tabcontent">
                <div>
                    <table>
                        <tr>
                            <th>Task ID</th>
                            <th>Seg ID</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Flag Reason</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>closemerge</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td>223</td>
                            <td>October 1, 2021 12:43:26</td>
                            <td>October 1, 2021 13:15:46</td>
                            <td>low resolution</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>  
    </div>


    <div class="analytics">
        <div class="sideContentTitle">
            Analytics
        </div>
        <div class="sideContentInfo">
            <p>There are many important things we can put here.</p>
            <p><b>1.</b> Like numbers.</p>
            <p><b>2.</b> And graphs.</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/utils.js" %}"></script>

<script>
    start();
    function start() {
        tabToggle(event, 'Pending_Split',0,2, 'pendingSplitTab');
        tabToggle(event, 'Pending_Merge',2,4,'pendingMergeTab');
        tabToggle(event, 'Pending_Other',4,6,'pendingOtherTab');
        tableHide('SomaMerge',"SomaMergeTable");
        tableHide('SomaSplit',"SomaSplitTable");
        tableHide('SomaOther',"SomaOtherTable");
    };
    
    
    function tabToggle(evt, timeframe,start,end,buttonid) {
        

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = start; i < end; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = start; i < end; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(timeframe).style.display = "block";

        var tab_button = document.getElementById(buttonid);
        tab_button.classList.toggle("active");

        
      
    };

    function tableHide(actionButton, hiddenContentId) {

        var acc = document.getElementById(actionButton);
        acc.onclick=function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = document.getElementById(hiddenContentId);
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        };

   
    };

</script>
{% endblock %}

