{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock %}

{% block content %}


<div class="row">

    <div class="jobQueue" >
        <div class="row">
            <div class="launch_NG" onclick= "document.location='{% url 'workspace' %}'"> 
                <div class ="launch_NG_text">
                    Start Proofreading
                </div>
            </div>
            <div id="SomaSplit" class="jobHeader active" onclick="tableHide('SomaSplit','SomaSplitTable')">Multi-Soma Split</div>
        </div>
        <div id='SomaSplitTable' class ="bin" style="display:block;">
            <div class="tab">
                <button id = "pendingSplitTab" class="tablinks" onclick="tabToggle(event, 'Pending_Split',0,2,'pendingSplitTab')">Pending ({{split.total_pending}}) </button>
                <button id = "closedSplitTab" class="tablinks" onclick="tabToggle(event, 'Closed_Split',0,2,'closedSplitTab')">Closed ({{split.total_closed}}) </button>
            </div>
            <div id="Pending_Split" class="tabcontent">
                <div>
                    <table>
                        <tr>
                            <th>Task ID</th>
                            <th>Seg ID</th>
                            <th>Created</th>
                            <th>Priority</th>
                            <th>Status</th>
                            {% comment %} <th>Flag Reason</th>
                            <th>Notes</th> {% endcomment %}
                        </tr>
                        {% for row in  split.pending %}
                        <tr>
                            <td> {{ row.task_id }} </td>
                            <td> {{ row.seg_id }} </td>
                            <td> {{ row.created }} </td>
                            <td> {{ row.priority }} </td>
                            <td> {{ row.status }} </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
            <div id="Closed_Split" class="tabcontent">
                <div>
                    <table>
                        <tr>
                            <th>Task ID</th>
                            <th>Seg ID</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Status</th>
                            {% comment %} <th>Flag Reason</th>
                            <th>Notes</th> {% endcomment %}
                        </tr>
                        {% for row in  split.closed %}
                        <tr>
                            <td> {{ row.task_id }} </td>
                            <td> {{ row.seg_id }} </td>
                            <td> {{ row.opened }} </td>
                            <td> {{ row.closed }} </td>
                            <td> {{ row.status }} </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="analytics">
        <div class="sideContentTitle">
            Stats
        </div>
        <div class="sideContentInfo">
            <p>  You've completed <code>12</code> tasks this week and 
                <code>37</code> tasks in total. 
            </p> </br>
        </div>
        <div class="sideContentInfo">
            <p> This week you have recorded <code>4.3</code> hours proofreading. 
            In total you have recorded <code>17</code> hours proofreading.
            </p> </br>
        </div>
        <div class="sideContentInfo">
            <p>  On average, you complete tasks at a rate of <code>15.8</code> minutes per task. 
            This week your average rate is <code>12.2</code> minutes per task.
            </p> </br>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/utils.js" %}"></script>

<script>
    start();
    function start() {
        tabToggle(event, 'Pending_Split',0,2, 'pendingSplitTab');
        tabToggle(event, 'Pending_Merge',2,4,'pendingMergeTab');
        tabToggle(event, 'Pending_Other',4,6,'pendingOtherTab');
        tableHide('SomaMerge',"SomaMergeTable");
        tableHide('SomaSplit',"SomaSplitTable");
        tableHide('SomaOther',"SomaOtherTable");
    };
    
    
    function tabToggle(evt, timeframe,start,end,buttonid) {
        

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = start; i < end; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = start; i < end; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(timeframe).style.display = "block";

        var tab_button = document.getElementById(buttonid);
        tab_button.classList.toggle("active");

        
      
    };

    function tableHide(actionButton, hiddenContentId) {

        var acc = document.getElementById(actionButton);
        acc.onclick=function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = document.getElementById(hiddenContentId);
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        };

   
    };

</script>
{% endblock %}

