{% extends "base.html" %}
{% load static %}

{% block content %}
<! Information Hidden Menu >


<div id="neuVue-sidemenu" class="sidemenu">
    <div id="neuVue-sidebar" class="sidebar">
        <div id="queue-button" class="sidebutton" >
            <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
                <i class="glyphicon glyphicon-list"></i>
            </a>
        </div>   
    </div>
    <div id="neuVue-sidecontent" class="sidecontent">
        
        <! Instructions >
        <div id = "instruction-container" class ="sideContentBox" style="max-height:30%;">
            <div class="sideContentTitle">
                Instructions
            </div>
            <div class="sideContentInfo">
                {{ instructions.prompt }}
            </div>
        </div>
        
        <! Instructions >
        <div id = "instruction-container" class ="sideContentBox" style="max-height:70%;">
            <div class="sideContentTitle">
                Task Information
            </div>
            <div class="sideContentInfo">
                Namespace <br> 
                <code> {{namespace}} </code> <br>
                Task ID <br> 
                <code> {{task_id}} </code> <br>
                Segmentation ID  <br>
                <code> {{seg_id}} </code> <br>
                PCG Endpoint  <br> 
                <code> {{pcg_url}} </code> <br>
            </div>
        </div>
    </div>
</div> 

</div>

<div id="neuroglancer" class="leftFormatting">
    <div class="left">
        {% if is_open %}
        <iframe src="{{ng_url}}"
                width="95%" 
                height="85%"
                class="neuroGlancer"
                id="neuroGlancerFrame">
        </iframe>
        {% endif %}
            <form action="" method="post" class="bottomBar">
                {% csrf_token %}
                
                {% if is_open %}
                <button type="submit" class="mainButton" name="restart">
                    Restart Task
                </button>
        
                <button name="submit" type="submit" onclick="getCurrentNeuroglancerState(this)" class="mainButton submit" >
                    Submit Task
                </button>

                <button 
                    name="flag" 
                    type="button" 
                    class="mainButton flag"
                    data-bs-toggle="modal" 
                    data-bs-target="#flagModal">
                    Flag Task
                </button>
              
                <button type="submit" onclick="getCurrentNeuroglancerState(this)" class="mainButton pause" name="stop">
                    Pause Task and Exit Workspace
                </button>
                {% else %}

                {%if tasks_available %}
                <button type="submit" class="mainButton submit" name="start">
                    Start New  Task
                </button>

                {% else %}
                <button type="submit" class="mainButton submit" name="start" disabled >
                    No Pending Tasks
                </button> 
                
                {% endif%}
                
                <button type="submit" class="mainButton flag" name="stop">
                    Exit Workspace
                </button>
                {% endif %}

            </form>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <!-- Modal -->
    <div id="flagModal" class="modal" name="flag" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Flagging Task #{{task_id}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" role="form">
                        <div class="form-group">
                            <label class="custom-select-label" for="flag">Please select a reason for flagging this task:</label>
                            <select class="custom-select" name="flag" id="select-flag" onchange=toggleTextbox()>
                                <option value="">Select reason</option>
                                <option value="artifact in the data">Artifact in the data</option>
                                <option value="wrong location">Wrong location</option>
                                <option value="data unable to load">Data unable to load</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="invalid-feedback">Example invalid custom select feedback</div>
                        </div>
                        <div class="form-group" style="display: none;" id="text">
                            <label for="flag-other">Other reason*</label>
                            <textarea class="form-control" name="flag-other" rows="2" maxlength="100" placeholder="Enter reason"></textarea>
                            <small class="form-text text-muted">*100 character limit.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div> 
</form>

<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script>
    // openSideMenu();
    // By default, have side menu closed.
    // TODO: Have a session token that saves status of side menu 
    openSideMenu();
    block_toggle();
    
    /* Patch to allow current active task button not need double click for first interaction */
    function activeTaskStartUp() {
        var currentTaskButton = document.getElementById("currentTask");
        currentTaskButton.classList.toggle("active");
        var panel = currentTaskButton.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }

    /* Flag Modal */
    function toggleTextbox(){
        var reason=document.getElementById("select-flag");
        var textbox = document.getElementById("text")
        if(reason.value == "other")
            textbox.style.display = "block"
        else
            textbox.style.display = "none"
    }

    /* Function for getting the current Neuroglancer state */

    const ngURL = new URL('{{ng_url}}');

    window.addEventListener("message", (event) => {
    // Do we trust the sender of this message?  (might be
    // different from what we originally opened, for example).
    if (event.origin !== ngURL.origin)
        return;

    window.localStorage['ngState'] = event.data;
    }, false);
    
    function getCurrentNeuroglancerState(element) {
        document.getElementById('neuroGlancerFrame').contentWindow.postMessage("state", ngURL.origin);
        element.value = window.localStorage['ngState'];
    }

</script>
{% endblock %}


