{% extends "base.html" %}
{% load static %}

{% block content %}
<! Information Hidden Menu >


<div id="neuVue-sidemenu" class="sidemenu">
    <div id="neuVue-sidebar" class="sidebar">
        <div id="queue-button" class="sidebutton" >
            <a id = "sidebarActivate" class="fill-div" onclick="sidemenu_content()">
                <i class="glyphicon glyphicon-list"></i>
            </a>
        </div>   
    </div>
    <div id="neuVue-sidecontent" class="sidecontent">
        
        <! Instructions >
        <div id = "instruction-container" class ="sideContentBox" style="max-height:22%;">
            <div class="sideContentTitle">
                Instructions
            </div>
            <div class="sideContentInfo">
                {{ instructions.prompt }}
            </div>
        </div>      
    </div>
</div> 

</div>

<div id="neuroglancer" class="leftFormatting">
    <div class="left">
        <div class="topBar" >
                <div class="textBin left">
                    Task ID # {{task_id}}
                </div>
                <div class="textBin mid">
                    Segmentation ID # {{seg_id}}
                </div>
                <div class="textBin right">
                    Connected to {{pcg_url}}
                </div>

        </div>
        {% if is_open %}
        <iframe src="{{ng_url}}"
                width="95%" 
                height="85%"
                class="neuroGlancer">
        </iframe>
        {% endif %}
            <form action="" method="post" class="bottomBar">
                {% csrf_token %}
                
                {% if is_open %}
                <button type="submit" class="button" name="restart">
                    Restart Task
                </button>
        
                <button type="submit" class="button submit" name="submit">
                    Submit Task
                </button>

                <button type="submit" class="button flag" name="flag">
                    Flag Task
                </button>
                
                <button type="submit" class="button flag" name="stop">
                    Pause Task and Exit Workspace
                </button>
                {% else %}

                {%if tasks_available %}
                <button type="submit" class="button submit" name="start">
                    Start New  Task
                </button>

                {% else %}
                <button type="submit" class="button submit" name="start" disabled >
                    No Pending Tasks
                </button> 
                
                {% endif%}
                
                <button type="submit" class="button flag" name="stop">
                    Exit Workspace
                </button>
                {% endif %}

            </form>
    </div>
</div>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script>
    // openSideMenu();
    // By default, have side menu closed.
    // TODO: Have a session token that saves status of side menu 
    closeSideMenu();
    block_toggle();
    activeTaskStartUp();

    /* Patch to allow current active task button not need double click for first interaction */
    function activeTaskStartUp() {
        var currentTaskButton = document.getElementById("currentTask");
        currentTaskButton.classList.toggle("active");
        var panel = currentTaskButton.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
</script>
{% endblock %}


