  /* TASKING STRUCTURES */
  .jobQueue {
    margin-top: 1%;
    margin-left: 2%;
    float: left;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0% 2% 10% 1%;

}

.analytics {
    background-color: transparent !important;
    border-radius: 8px;
    border: 1.5px solid var(--secondary-accent);
    padding: 10px 10px 10px 10px;
    float: right;
    margin-top: 1%;
    margin-right: 3.5%;
    height: 80%;
    width: 18%;
    overflow: auto;
    overflow-x: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Left half of the the task category header: ex. Soma Splitting Tasks */

.jobHeader{
  background-color: var(--complete-color);
  border-radius: 8px 0 0 8px;
  padding: 10px;
  float: left;
  margin-top: 1%;
  left:0;
  width: 85%;
  height:5%;
  margin: 1% 0 1% 1%;
  float: left;
  font-family: var(--header-font);
  color: var(--background);
  font-size: 10px;
  font-size: 1.2vw;
  text-align: left;
  font-weight: normal;
  cursor: pointer;

}

.jobHeader.active, .jobHeader:hover {
  background-color: var(--complete-color-actived);
  color:var(--background);
}

/* Right half of the task category header: 'start proofreading' button */
.launch_NG {
  margin: 1% 1% 1% 0px;
  font-family: var(--monospace-font);
  background-color: transparent;
  border-radius: 0 8px 8px 0;
  right:0;
  width: 12.5%;
  height: 5%;
  border: 1.5px solid var(--complete-color);
  color: var(--complete-color);
  padding: 10px;
  float: right;
  font-family: var(--header-font);
  font-size: 6px;
  font-size: 0.8vw;
}
.launch_NG:hover{
  background: var(--primary-accent);
  border-color: transparent;
  color: var(--background);
}
.launch_NG_text{
  position: relative;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tables for the content */
table {
  background-color: transparent !important;
  border-radius: 8px;
  padding: 2%;
  font-size: 14pt;
  position: relative;
  width: 100%;
  font-family: var(--header-font);
  color: var(--primary-accent);
  font-weight: normal;
  border-collapse: collapse;
}

th {
  background-color: var(--background);
  padding: 8px !important;
  text-align: left;
  border-bottom: 1px solid var(--secondary-accent);
  position: sticky;
  top: 0;
}

td {
  padding: 1% !important;
  background-color: transparent !important;
  text-align: left;
}

tr:hover {
  background-color: var(--transparent-hover);
  border-radius: 0px;
}



/* Tab Container */
.bin{
  width: 100%;
  display:block;
}

.tab {
  overflow: hidden;
  background-color: transparent;
  width:100%;
}

/* Tabs ex: 'In Progress', 'Pending', 'Closed' */
.tab button {

  background-color: transparent !important;
  color: var(--primary-accent);
  padding: 1% 1%;
  border: 1.5px solid var(--transparent-hover);
  border-bottom: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 8px 8px 0px 0px;
  width: 10%;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--transparent-hover) !important;
  border:transparent;
  color: var(--primary-accent);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: var(--secondary-accent) !important;
  border:transparent;
  color: var(--primary-accent);
}

/* Style the tab content */
.tabcontent {
  align-items: center;
  float: center;
  display: block;
  border-radius: 0px 8px 8px 8px;
  border: 1.5px solid var(--secondary-accent);
  background-color: var(--table-background) !important;
  height: 30%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  
}

/* Controls the style of the scrollbars */

::-webkit-scrollbar {
  -webkit-appearance: none;
  border-radius: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  margin: 5% 5%;
  background-color: var(--transparent-hover);
}

