/* FONTS & COLORS */

:root {
  /* PRIMARY COLORS #000e22;*/
  --background: #120c1a;
  --header-background: #312244;
  --navbar-text: #e6f1ff;
  --primary-accent: #e6f1ff;
  --primary-accent-activated: #8892b0;
  --secondary-accent: #077179;
  --secondary-accent-activated: #028486;
  --next-accent: #118d4f;
  --next-accent-activated: #099c52;
  --flag-accent: #b14646;
  --flag-accent-activated: #cf4b4b;
  --incomplete-color:#b2eebf;
  --incomplete-color-actived:#8fe2a1;
  --complete-color:#96a5d4;
  --complete-color-actived:#738fe6;
  --progress: #96a5d4;

  /* TRANSPARENT COLORS */
  --transparent-background: #120e1479;
  --table-background:#120e149a;
  --transparent-task: #0a192fce;
  --transparent-shadow:#00000033;
  --transparent-hover:#e6f1ff50;

  /* FONTS */
  --header-font: "Lato", sans-serif;
  --body-font: "Lato", sans-serif;
  --monospace-font: "Lato", sans-serif;
}


/* Separates left column with NG window, text, and buttons from right column: sidebar */

.left {
border-radius: 12px;
background-color: transparent;
flex-grow: 6;
order: 1;
height: 95%;
margin-top: 0%;
margin-left: 1%;
display: flex;
top:0;
align-items: center;
flex-direction: column;
}

.right {
background-color: transparent;
flex-grow: 1;
order: 2;
height: 95%;
width: 15%;
margin-right: 1%;
overflow: auto;
overflow-x: hidden;
}

/* Additional container for NG window, text, and buttons to arrange column */
.leftFormatting {
  border-radius: 12px;
  background-color: transparent;
  width: 75%;
  top:-1%;
  height: 95% !important;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  transition: 0.3s;
}


/* Button class -- no longer used in html regions */
.buttonBox {
  background-color: transparent;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.buttonBox.end {
  margin-bottom: 2%;
  margin-right: 2%;
  position: relative;
  bottom: 0px;
  right: 0px;
  clear: both;
  padding-top:20px;
}


/* NG container */
.neuroGlancer {
  box-shadow: 0 4px 8px 0 var(--transparent-shadow);
  border-radius: 8px;
  border: 1px solid var(--background);
  margin-top: 1%;
  margin-bottom: 1%;
  height: 120%;
  order: 1;
}

/* formats the Task ID, Segmentation ID, and Pychunked graph container */
.topBar {
  font-family: var(--body-font);
  color: var(--primary-accent-activated);
  background-color: transparent;
  height: 2% !important;
  width: 95%;
  display: flex;
  flex-direction: row;
  order: 0;
  top:0;
  vertical-align: top;
  left:0;
}

.textBin {
  height:100%;
  overflow: hidden;
  display: block;
}

.textBin.left {
  min-width: 10%;
  max-width: 20%;
  float: left;
  order:0;
  text-align: left !important;
}
.textBin.mid {
  min-width: 10%;
  max-width: 20%;
  float: left;
  text-align: center;
  order:1;
}
.textBin.right {
  width: 60%;
  float: right;
  text-align: right;

}

/* button container below NG */
.bottomBar {
  flex-grow: 1;
  order: 2;
  padding:1%;
  background-color: transparent;
  height: 5% !important;
  width: 95%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 2;
}

/* buttons used in bottom container */
.button {
  font-family: var(--monospace-font);
  background-color: var(--secondary-accent);
  border-radius: 8px;
  color: var(--background);
  margin: 0 0 10 10px;
  width: 50%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.button:hover{
border: 3px solid var(--secondary-accent);
background: var(--secondary-accent);
color: var(--primary-accent);
}

.button.flag{
  background-color: var(--flag-accent);
  color: var(--background);
}

.button.flag:hover{
border: 3px solid var(--flag-accent);
background: var(--flag-accent);
color: var(--primary-accent);
}

.button.submit{
background-color: var(--next-accent);
color: var(--background);
}

.button.submit:hover{
border: 3px solid var(--next-accent);
background-color: var(--next-accent);
color: var(--primary-accent);
}

.instructions {
  font-family: var(--monospace-font);
  background-color: var(--transparent-background);
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent);
  color: var(--primary-accent);
  margin: 0 0 10 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 90%;
  font-size: 14px;
}

.index-title-container {
display: flex;
align-items: center;
flex-direction: column;
margin: auto;
width: 100%;
position: relative;
top: 50%;
transform: translateY(-70%);
}

.index-title-text {
color: rgb(255, 255, 255);
font-family: var(--header-font);
font-size: 500%;
text-align: center;
order: 1;
}

.index-title-sub-text {
color: rgb(255, 255, 255);
font-family: var(--body-font);
font-size: 200%;
text-align: center;
order: 1;
}
/* PROGRESS BAR */

.progress {
  margin-left: 5%;
  background-color: transparent !important;
  border: 2px solid var(--primary-accent-activated);
  border-radius: 20px !important;
  width: 85%;
  height: 30px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.progress-bar {
float: left;
}

.progress-bar.color {
  margin: 0 0px;
  border-radius: 20px;
  background-color: var(--progress);
  text-align: right;
  padding-right: 10px;
  padding-bottom: 18px;
  height: 100%;
  position: relative;
  color: black;
}

.the-icons {
font-size: 25px;
}

/* NAVIGATION BAR */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: var(--body-font)
}
nav{
  background: var(--header-background);
  height: 70px;
  width: 100%;
}
label.logo{
  font-family: var(--header-font);
  color: var(--navbar-text);
  font-size: 50px;
  padding: 0 2%;
  line-height: 70px;
  font-weight: lighter;
  cursor: pointer;
  z-index: 2;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  font-family: var(--monospace-font);
  color: var(--navbar-text);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background-color: transparent;
  border-radius: 8px;
  color: var(--navbar-text) !important;
  border: 1.5px solid var(--secondary-accent);
}
.checkbtn{
  font-size: 30px;
  color: var(--navbar-text);
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
      background-color: transparent;
      border-radius: 8px;
      border: 1.5px solid var(--secondary-accent);
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* Task buttons in the TaskQueue sidebar container*/

.taskButton {
  font-family: var(--body-font);
  border-radius: 4px;
  border-color: transparent !important;
  position: relative;
  background-color: var(--incomplete-color);
  color: var(--background);
  width: 93%;
  margin-top: 3%;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 10 10px;
  float: center;
  text-align: left;
  align-items: left;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}

.taskButton.active, .taskButton:hover {
  background-color: var(--incomplete-color-actived);
  color:var(--background)!important;
}
.taskButton.complete{
  background-color: var(--complete-color);
}

.complete.active, .taskButton.complete:hover {
  background-color: var(--complete-color-actived);
  color:var(--background);
}

.taskButton.current{
  background-color: var(--secondary-accent);
}

.taskButton.current.active, .taskButton.current:hover {
  background-color: var(--secondary-accent-activated);
  color:var(--background);
}

/* Style the accordion panel. Note: hidden by default */
.informationContainer{
  width: 95%;
  overflow: hidden;
  padding: 5% 2%;
  margin: 2% 2%;
  display: none;
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent);
  background-color: transparent !important;
}

.taskNumber {
  font-family: var(--monospace-font);
  margin: 0 0 10 10px;
  padding: 5px 10px;
  color: var(--primary-accent);
  width: 95%;
  border-radius: 4px;
  background-color: var(--transparent-task);
}

.taskInfo {
  font-family: var(--monospace-font);
  margin: 0 0 10 10px;
  padding: 5px 10px;
  color: var(--primary-accent);
  width: 95%;
  border-radius: 4px;
}

/* Container for sidecontent item */
.sideContentBox {
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent) !important;
  background-color: transparent;
  width: 95%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  display:inline-block;
  margin-bottom: 2%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0s;

}
/* Title for sidecontent item */
.sideContentTitle {
  font-family: var(--header-font);
  color: var(--primary-accent);
  border-radius: 2px;
  font-size: 10px;
  font-size: 1.2vw;
  z-index: 10;
  padding: 5%;
  flex-grow: 2;
  text-align: center;
  align-items: left;
  text-decoration: none;
  transition: 0s;
  background-color: var(--background);
  position: sticky;
  top: 0;

}

.sideContentTitle.active:after {
  content: "\2212";
}

 /* Container for sidecontent info */
.sideContentInfo {
  font-family: var(--monospace-font);
  margin: 0 0 10 10px;
  padding: 5px 10px;
  position:relative;
  color: var(--primary-accent);
  width: 95%;
  border-radius: 4px;
  background-color: var(--transparent-background);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/* Sidebar Expandable */

/* Sidemenu access bar */
.sidebar {
  height: 100%;
  width: 8%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  align-items: center;
  background-color: var(--transparent-shadow);
  cursor: pointer;
}

.sidebar.active, .sidebar:hover{
  background-color: var(--transparent-hover);
}
a.fill-div {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.sidebutton {
  background-color: transparent;
  color: var(--primary-accent-activated);
  text-align: center;
  margin: 25% 2%;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw !important;
  cursor: pointer;
}

/* the entire sidebar (content  + access bar) */
.sidemenu {
  height: 99%;

  width: 25%;
  position: fixed;
  
  z-index: 1;
  top: 70px;
  right: 0;
  background-color: var(--transparent-background);
  overflow: hidden;
}

.sidemenu a {
  padding: 8px;
  text-decoration: none;
  color: var(--primary-accent-activated);
  display: block;
}

.sidemenu a:hover, .sidemenu a:focus {
  color: var(--navbar-text);
}

.sidemenu .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
}

/* Container for all information in the sidebar */
.sidecontent {
  top: 0;
  right: 0;
  margin-top: 4%;
  margin-right: 2%;
  float: right;
  width: 85%;
  text-align: left;
  background-color: var(--transparent-background) !important;
}

.code{
font-family: var(--monospace-font);
color: rgb(255, 111, 0);
background-color: var(--transparent-background);
padding: 2px;
font-size: 105%;
}

/* Scrollbar formatting */
::-webkit-scrollbar {
-webkit-appearance: inherit;
border-radius: 8px;
width: 8px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
margin: 5% 5%;
background-color: var(--transparent-hover);
}

::-webkit-scrollbar-corner {
background: transparent;
}
