awsebcli
backoff
caveclient
Django
django-allauth
django-colorfield
django-debug-toolbar
django-webpack-loader
djangorestframework
graphviz
ipython
markdown
matplotlib
mysqlclient
networkx
nglui
numpy
pandas
Pillow
plotly
requests
./deps/neuvue-client 