/* FONTS & COLORS */

:root {
  /* PRIMARY COLORS #000e22;*/
  --background: #120c1a;
  --header-background: #3122449f;
  --navbar-text: #e6f1ff;
  --primary-accent: #e6f1ff;
  --primary-accent-activated: #8892b0;
  --secondary-accent: #077179;
  --secondary-accent-activated: #00a2a5;
  --next-accent: #118d4f;
  --next-accent-activated: #099c52;
  --skip-accent:#d3ca4b;
  --skip-accent-activated: #d1c304;
  --flag-accent: #b14646;
  --flag-accent-activated: #cf4b4b;
  --pause-accent: #9c9999;
  --pause-accent-activated: #706d6d;
  --incomplete-color:#b2eebf;
  --incomplete-color-actived:#8fe2a1;
  --complete-color:#96a5d4;
  --complete-color-actived:#738fe6;
  --progress: #96a5d4;
  --yesBut: #bed34b;
  --yesBut-activated: #abc032;
  --noBut: #da7f4b;
  --noBut-activated: #db763b;

  /* TRANSPARENT COLORS */
  --transparent-background: #120e1479;
  --table-background:#120e149a;
  --transparent-task: #0a192fce;
  --transparent-shadow:#00000033;
  --transparent-standard:#e6f1ff44;
  --transparent-hover:#e6f1ff62;
  --transparent-analytics:#e6f1ff21;
  --transparent-card-background: #120e14dc;
  --transparent-card-header-background: #120e14e8;
  --transparent-card-items-background: #29202ece;

  /* FONTS */
  --header-font: "Lato", sans-serif;
  --body-font: "Lato", sans-serif;
  --monospace-font: "Lato", sans-serif;
  --code-font:"Fira Mono", serif;
}

/* Media */ 
ul li {
  padding: 0vh 0.5vw;
  left:0vw;
}
.basic {
  background-image: url('/static/images/neuron_background_sketch-01-min.png'); 
  background-size: 70vw;
  background-repeat: repeat;
  height: 96vh;
  overflow: hidden;
}

.basic.workspace {
  width: 100%;
}

.basic.tasks {
  width: 100%;
  overflow: visible;
}

.basic.dashboard {
  width: 100%;
  overflow: visible;
}

.basic.interTask {
  background-image: url('/static/images/xrayneuron02-min.png');
  background-size: 120vw;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100vw;
}

.basic.pref {
  width: 100%;
  overflow-y: visible;
}

.intro {
  background-image: url('/static/images/xrayneuron01-compressed.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 95vh;
  width: 100vw;
}



/* Separates left column with NG window, text, and buttons from right column: sidebar */

.left {
border-radius: 12px;
background-color: transparent;
flex-grow: 6;
order: 1;
height: 95%;
margin-top: 0%;
margin-left: 1%;
display: flex;
top:0;
align-items: center;
flex-direction: column;
}

.right {
background-color: transparent;
flex-grow: 1;
order: 2;
height: 95%;
width: 15%;
margin-right: 1%;
overflow: auto;
overflow-x: hidden;
}

/* Additional container for NG window, text, and buttons to arrange column */
.leftFormatting {
  border-radius: 12px;
  background-color: transparent;
  width: 75%;
  top:-1%;
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  transition: 0.3s;
}


/* Button class -- no longer used in html regions */
.buttonBox {
  background-color: transparent;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.buttonBox.end {
  margin-bottom: 2%;
  margin-right: 2%;
  position: relative;
  bottom: 0px;
  right: 0px;
  clear: both;
  padding-top:20px;
}


/* formats the Task ID, Segmentation ID, and Pychunked graph container */
.topBar {
  font-family: var(--body-font);
  color: var(--primary-accent-activated);
  background-color: transparent;
  height: 2% !important;
  width: 95%;
  display: flex;
  flex-direction: row;
  order: 0;
  top:0;
  vertical-align: top;
  left:0;
}

.textBin {
  height:100%;
  overflow: hidden;
  display: block;
}

.textBin.left {
  min-width: 10%;
  max-width: 20%;
  float: left;
  order:0;
  text-align: left !important;
}
.textBin.mid {
  min-width: 10%;
  max-width: 20%;
  float: left;
  text-align: center;
  order:1;
}
.textBin.right {
  width: 60%;
  float: right;
  text-align: right;

}

/* button container below NG */
.bottomBar {
  background-color: transparent;
  max-height:5vh;
  bottom:1.5vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  order:2;
  /*align-items: flex-end;*/
}

/* buttons used in bottom container */
.mainButton {
  font-family: var(--monospace-font);
  background-color: var(--secondary-accent);
  border-radius: 8px;
  color: var(--background);
  width: 19%;
  height: 3.5vh;
  padding: 0.15vh 0.25vh;
  margin: 0vh 0.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5vh;
}

.mainButton:hover{
border: 3px solid var(--secondary-accent);
background: var(--secondary-accent);
color: var(--primary-accent);
}

.mainButton.flag{
  background-color: var(--flag-accent);
  color: var(--background);
}

.mainButton.flag:hover{
border: 3px solid var(--flag-accent);
background: var(--flag-accent);
color: var(--primary-accent);
}

.mainButton.pause{
  background-color: var(--pause-accent);
  color: var(--background);
}

.mainButton.pause:hover{
border: 3px solid var(--pause-accent);
background: var(--pause-accent);
color: var(--primary-accent);
}

.mainButton.skip{
  background-color: var(--skip-accent);
  color: var(--background);
}

.mainButton.skip:hover{
border: 3px solid var(--skip-accent);
background: var(--skip-accent);
color: var(--primary-accent);
}

.mainButton.submit{
background-color: var(--next-accent);
color: var(--background);
}

.mainButton.submit:hover{
border: 3px solid var(--next-accent);
background-color: var(--next-accent);
color: var(--primary-accent);
}


.mainButton.submit.duo{
  width: 18vw;
  font-size: 1.5vh;
  margin: 1vh 1vw 0vh 1vw;
}


.mainButton.return{
  background-color: var(--flag-accent);
  color: var(--background);
  /* width: 18vw; */
  width: 18vw;
  font-size: 1.5vh;
  margin: 0.5vh 1vw;
}

.mainButton.submit.quad{
  min-width: 10%;
  max-width: 12%;
  margin-left: 13%;
}

.mainButton:active, .mainButton.active {
  border: 2.5px solid white;
  color: var(--primary-accent);
}

.mainButton.yesBut{
  min-width: 15%;
  max-width: 18%;
  background-color: var(--yesBut);  
}
.mainButton.yesBut:hover{
  border: 3px solid var(--yesBut-activated);
  background-color: var(--yesBut-activated);  
  
}

.mainButton.noBut{
  min-width: 15%;
  max-width: 18%;
  background-color: var(--noBut); 
}
.mainButton.noBut:hover{
  border: 3px solid var(--noBut-activated);
  background-color: var(--noBut-activated);  
  
}

.mainButton.flag.quad{
  min-width: 10%;
  max-width: 12%;
}
.mainButton.pause.quad{
  min-width: 10%;
  max-width: 12%;
}




.copyButton{
  background-color: var(--secondary-accent);
  display: flex;
}

.copyButton:hover{
  border: 2px solid var(--pause-accent);
  background: var(--pause-accent);
  color: var(--primary-accent);
  }

.instructions {
  font-family: var(--monospace-font);
  background-color: var(--transparent-background);
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent);
  color: var(--primary-accent);
  margin: 0 0 10 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 90%;
  font-size: 1.2vh;
}

.index-title-container {
display: flex;
flex-direction: column;
margin-left: 100;
width: 50%;
position: absolute;
top: 45%;
}

.index-title-text {
color: rgb(255, 255, 255);
font-family: var(--header-font);
font-size: 6vh;
text-align: center;
order: 1;
}

.index-title-sub-text {
color: rgb(255, 255, 255);
font-family: var(--body-font);
font-size: 2vh;
text-align: center;
order: 1;
}

/* INDEX CARD */
.index-card {
border: 2px solid var(--secondary-accent) !important;
background-color: var(--transparent-card-background) !important;
border-radius: 8pt !important;
width: 86%; 
height: 60%; 
margin-top: 25%;
margin-right: 7%;
}

.index-card-container {
  height: 100vh;
}

.index-card-items {
  overflow:scroll;
}

.index-card-header {
color: var(--primary-accent);
font-family: var(--header-font); 
font-size: 3vh;
background-color: var(--header-background) !important;
}

.index-card-item {
background-color: transparent;
padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
}


.index-card-item-title {
font-size: 2.15vh;
color: var(--primary-accent);
}

.index-card-item-date {
font-size: 1.65vh;
color: var(--secondary-accent);
}

.index-card-item-description {
font-size: 1.5vh;
color: rgb(155, 153, 153);
}

.index-card-no-updates {
font-size: 3vh;
color: var(--primary-accent);
padding: 50px;
text-align: center;
}



/* PROGRESS BAR */

.progress {
  margin-left: 5%;
  background-color: transparent !important;
  border: 2px solid var(--primary-accent-activated);
  border-radius: 20px !important;
  width: 85%;
  height: 30px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.progress-bar {
float: left;
}

.progress-bar.color {
  margin: 0 0px;
  border-radius: 20px;
  background-color: var(--progress);
  text-align: right;
  padding-right: 10px;
  padding-bottom: 18px;
  height: 100%;
  position: relative;
  color: black;
}

.the-icons {
font-size: 25px;
}

.inspect-container {
  display: block;
  margin: auto;
  padding-top: 10%;
  width: 40%;
  }

/* NAVIGATION BAR */

/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: var(--body-font)
}
nav{
  background: var(--header-background);
  height: 70px;
  width: 100%;
}
label.logo{
  font-family: var(--header-font);
  color: var(--navbar-text);
  font-size: 50px;
  padding: 0 2%;
  line-height: 70px;
  font-weight: lighter;
  cursor: pointer;
  z-index: 2;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  font-family: var(--monospace-font);
  color: var(--navbar-text);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background-color: transparent;
  border-radius: 8px;
  color: var(--navbar-text) !important;
  border: 1.5px solid var(--secondary-accent);
}
.checkbtn{
  font-size: 30px;
  color: var(--navbar-text);
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
      background-color: transparent;
      border-radius: 8px;
      border: 1.5px solid var(--secondary-accent);
  }
  #check:checked ~ ul{
    left: 0;
  }
} */

/* Task buttons in the TaskQueue sidebar container*/

.taskButton {
  font-family: var(--body-font);
  border-radius: 4px;
  border-color: transparent !important;
  position: relative;
  background-color: var(--incomplete-color);
  color: var(--background);
  width: 93%;
  margin-top: 3%;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 10 10px;
  float: center;
  text-align: left;
  align-items: left;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}

.taskButton.active, .taskButton:hover {
  background-color: var(--incomplete-color-actived);
  color:var(--background)!important;
}
.taskButton.complete{
  background-color: var(--complete-color);
}

.complete.active, .taskButton.complete:hover {
  background-color: var(--complete-color-actived);
  color:var(--background);
}

.taskButton.current{
  background-color: var(--secondary-accent);
}

.taskButton.current.active, .taskButton.current:hover {
  background-color: var(--secondary-accent-activated);
  color:var(--background);
}

/* Style the accordion panel. Note: hidden by default */
.informationContainer{
  width: 95%;
  overflow: hidden;
  padding: 5% 2%;
  margin: 2% 2%;
  display: none;
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent);
  background-color: transparent !important;
}

.taskNumber {
  font-family: var(--monospace-font);
  margin: 0 0 10 10px;
  padding: 5px 10px;
  color: var(--primary-accent);
  width: 95%;
  border-radius: 4px;
  background-color: var(--transparent-task);
}

.taskInfo {
  font-family: var(--monospace-font);
  margin: 0 0 10 10px;
  padding: 5px 10px;
  color: var(--primary-accent);
  width: 95%;
  border-radius: 4px;
}
/* task tags */
.sideContentInput{
  display: flex;
  padding: 5px 10px;
  width: 95%;
}
.sideContentTextArea{
  background-color: var(--transparent-background);
  color: var(--primary-accent);
  overflow: scroll;
  border: 0px;
  width: 100%;
  resize: none;
}
/* Container for sidecontent item */
.sideContentBox {
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent) !important;
  background-color: transparent;
  width: 95%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  display:inline-block;
  margin-bottom: 2%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0s;
  padding-bottom: 1vh;

}
/* Title for sidecontent item */
.sideContentTitle {
  font-family: var(--header-font);
  color: var(--primary-accent);
  border-radius: 2px;
  font-size: 1.8vh;
  z-index: 10;
  padding: 2.5%;
  flex-grow: 2;
  text-align: center;
  align-items: left;
  text-decoration: none;
  transition: 0s;
  background-color: var(--background);
  /*position: sticky;*/
  top: 0;

}

.sideContentTitle.active:after {
  content: "\2212";
}

 /* Container for sidecontent info */
.sideContentInfo {
  font-family: var(--monospace-font);
  padding: 0px 10px;
  position:relative;
  font-size: 1.4vh;
  color: var(--primary-accent);
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

/* Sidebar Expandable */

/* Sidemenu access bar */
.sidebar {
  height: 100%;
  width: 8%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  align-items: center;
  background-color: var(--transparent-standard);
  cursor: pointer;
}

.sidebar.active, .sidebar:hover{
  background-color: var(--transparent-hover);
}
a.fill-div {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.sidebutton {
  background-color: transparent;
  color: var(--primary-accent-activated);
  text-align: center;
  margin: 25% 2%;
  text-decoration: none;
  display: inline-block;
  font-size: 1vh !important;
  cursor: pointer;
}

/* the entire sidebar (content  + access bar) */
.sidemenu {
  height: 99%;
  width: 25%;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: var(--transparent-background);
  top: 4vh;
}

/*
.sidemenu a {
  padding: 8px;
  text-decoration: none;
  color: var(--primary-accent-activated);
  display: block;
}

.sidemenu a:hover, .sidemenu a:focus {
  color: var(--navbar-text);
}

.sidemenu .closebtn {
  position: absolute;
  
}*/

/* Container for all information in the sidebar */
.sidecontent {
  top: 0;
  right: 0;
  margin-top: 4%;
  margin-right: 2%;
  height:100%;
  float: right;
  width: 85%;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--transparent-background) !important;
}

.sideContentBox.memo {
  color: var(--primary-accent);
  background-color: var(--transparent-hover) !important;
  font-family: var(--code-font);
  border: transparent !important;
  flex-direction: column;
  display:inline-block;

}
.sideContentInfo.memo{
  font-family: var(--code-font);
  font-size: 1.2vh;
}

.code{
  font-family: var(--code-font);
  color: var(--secondary-accent-activated);
  background-color: var(--transparent-task);
  padding: 2px;
  font-size: 1.3vh;
}

/* Scrollbar formatting */
::-webkit-scrollbar {
-webkit-appearance: inherit;
border-radius: 8px;
width: 8px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
margin: 5% 5%;
background-color: var(--transparent-hover);
}

::-webkit-scrollbar-corner {
background: transparent;
}

.grid-container {
  left:0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
}

/* Container for sidecontent item */
.interTaskBox {
  border-radius: 8px;
  border: 1.5px solid var(--secondary-accent) !important;
  background-color: var(--transparent-background);
  margin-top: 40vh;
  width: 20vw;
  height: 14vh;
  flex-direction: column;
  display:inline-block;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0s;
}

.interTaskTitle {
  font-family: var(--header-font);
  color: var(--primary-accent);
  border-radius: 3px;
  font-size: 1.8vh;
  z-index: 10;
  padding: 3%;
  flex-grow: 2;
  text-align: center;
  align-items: left;
  text-decoration: none;
  transition: 0s;
  background-color: var(--background);
  top: 0;
}


.clipboard {
  color: var(--primary-accent);
  background-color: transparent;
  padding: 0;
  border: none;
  float: right;
  right:0;
  top:0;
  width: 15%;
}
.clipboard:hover {
  color: var(--secondary-accent-activated);
}

/* NG container */
.neuroglancer-container {
  box-shadow: 0 4px 8px 0 var(--transparent-shadow);
  border-radius: 8px;
  border: 1px solid var(--background);
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 100% !important;
  width: 95% !important;
  color: var(--primary-accent);
  overflow:auto;
  order: 1;
}
.neuroglancer-minimizable-group-flexible.neuroglancer-annotation-hiding-list-parent{
  overflow-y: hidden !important;
  height: 45vh;
}
.neuroglancer-tab-content.neuroglancer-annotation-layer-view{
  height: 45vh;
  overflow-y: scroll;
}

.neuroglancer-annotation-hiding-list-scrollarea{
  overflow-x: hidden;
  overflow-y: scroll;
}
.neuroglancer-tab-content.neuroglancer-annotations-tab{
  height: 45vh;
}

.neuroglancer-context-menu.neuroglancer-viewer-context-menu{
  display: none;
}
.neuroglancer-minimizable-group-flexible{
  max-height: 20vh !important;
  overflow-y: scroll !important;
}

.preferences {
  width: 15vw;
  position: relative;
  transform: translate(-10vw, 1vh);
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: relative;
  justify-content: left;
}

.pref_main_container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: relative;
  justify-content: left;
  margin-left: 2vw;
  margin-top: 2vw;
  color: var(--navbar-text);
  width: 35vw;

}

.row-divider {
  width:35vw;
  position:relative;
  margin-top:2vh;
  margin-bottom: 2vh;
}
/* Analytics table */
.analyticsTable{
  color:var(--primary-accent);
  background-color: transparent;
  font-size: 1.4vh;
  width:100% !important;
  border: 1px solid var(--secondary-accent);
  border-radius: 8px !important;
  border-collapse: initial;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.analyticsTable.mini{
  font-size: 1.1vh;
  border: transparent;
  margin-top: 0vh;
  margin-bottom: 0vh;
}
.analyticsTable th{
  background-color: var(--header-background);

}

.analyticsTable td{
  padding:1%;
  background-color: var(--transparent-background);
  /*color:yellow;*/
}

.analyticsTable tr:hover {
  background-color: var(--transparent-analytics);
}

.btn.btn-info{
  background-color: var(--secondary-accent-activated);
  border-color: transparent;
  font-size: 1.2vh;
}

.userTags{
  max-width:3vw; 
  overflow:hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=radio] {
  display: none;
}

img:hover {
  opacity:0.6;
  cursor: pointer;
}

img:active {
  opacity:0.4;
  cursor: pointer;
}

input[type=radio]:checked + label > img {
  border: 4px solid var(--primary-accent);
}

