{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load inclusion_tags %}

{% block header_includes %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="basic dashboard">
  <div class="container-fluid" style="padding: 5vh 5vw;">

    <h3 class="d-flex flex-row bd-highlight mb-3 text-white">
      Admin Dashboard
    </h3>

    <!-- Metrics cards -->
    <div class="row">
      {% metrics_card "Total Pending Tasks" total_pending "secondary" %}
      {% metrics_card "Total Open Tasks" total_open "primary" %}
      {% metrics_card "Total Closed Tasks" total_closed "success" %}
      {% metrics_card "Total Errored Tasks" total_errored "danger" %}
    </div>

    <!-- Results table -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card text-center">
          <div class="card-header">
            <div class="float-start col-lg-2 text-start">
              <button data-bs-toggle="collapse" data-bs-target="#collapseable" class="btn btn-primary"> Toggle Actions </button>
            </div>
            <div class="col-lg-10">
              Records for <b> {{username}} </b>
            </div>
          </div>
          <div id="table-card" class="card-body">

            <div id="collapseable" class="collapse">
              <div id="action-buttons" class="d-flex">
                <form id="taskPatchForm" action="" method="POST">{% csrf_token %}
                  <input type="hidden" name="username" value="{{username}}" />
                </form>
                <div class="col-lg-8 text-start">
                  <button id="exportBtn" class="btn btn-primary me-2">Export to CSV</button>
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
                      Modify
                    </button>
                    <ul class="dropdown-menu me-2">
                      <li id="dropdown-assignee" class="dropdown-item" onclick="showMenuItem('assignee')">
                        Assignee
                      </li>
                      <li id="dropdown-priority" class="dropdown-item" onclick="showMenuItem('priority')">
                        Priority
                      </li>
                      <li id="dropdown-status" class="dropdown-item" onclick="showMenuItem('status')">
                        Status
                      </li>
                    </ul>
                  </div>
                  <input id="assignee-input" form="taskPatchForm" name="assignee-input" placeholder="New assignee" class="d-none me-2">
                  <button type="button" id="assignee-button" form="taskPatchForm" name="selected_action" value="assignee" class="btn btn-primary d-none me-2">
                    Update Assignee
                  </button>
                  <input id="priority-input" form="taskPatchForm" name="priority-input" placeholder="New priority" class="d-none me-2" type="number" min="0">
                  <button type="button" id="priority-button" form="taskPatchForm" name="selected_action" value="priority" class="btn btn-primary d-none me-2">
                    Update Priority
                  </button>
                  <select id="status-input" form="taskPatchForm" name="status-input" class="form-select me-2 align-middle d-none">
                    <option value="" selected disabled>New status</option>
                    <option value="open">Open</option>
                    <option value="pending">Pending</option>
                    <option value="closed">Closed</option>
                    <option value="errored">Errored</option>
                  </select>
                  <button type="button" id="status-button" form="taskPatchForm" name="selected_action" value="status" class="btn btn-primary d-none me-2">
                    Update Status
                  </button>
                </div>
                <div class="col-lg-4 text-end">
                  <button type="button" id="delete-button" form="taskPatchForm" name="selected_action" value="delete" class="btn btn-danger">Delete</button>
                </div>
              </div>
              <hr>
            </div>

            <table id="summary-table" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" name="selectAll" class="taskCheckbox"></th>
                  <th scope="col">Task ID</th>
                  <th scope="col">Namespace</th>
                  <th scope="col">Segment ID</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Seg ID</th>
                  <th scope="col">Created</th>
                  <th scope="col">Opened</th>
                  <th scope="col">Closed</th>
                  <th scope="col">Duration (min)</th>
                  <th scope="col">Tags</th>
                </tr>
              </thead>
              <tbody>
                {% for taskrow in table %}
                  <tr>
                    <th scope="row"><input type="checkbox" form="taskPatchForm" name="selected_tasks" id="select_{{taskrow.task_id}}" value={{taskrow.task_id}} class="taskCheckbox"></th>
                    <th scope="row"><a href="{% url 'inspect' taskrow.task_id %}">{{taskrow.task_id}}</a></th>
                    <td>{{taskrow.namespace}}</td>
                    <td>{{taskrow.seg_id}}</td>
                    <td>{{taskrow.status}}</td>
                    <td>{{taskrow.priority}}</td>
                    <td>{{taskrow.seg_id}}</td>
                    <td>{{taskrow.created}}</td>
                    <td>{{taskrow.opened}}</td>
                    <td>{{taskrow.closed}}</td>
                    <td>{{taskrow.duration}}</td>
                    {% if taskrow.tags %}
                      <td class="userTags">{{taskrow.tags|join:", "}}</td>
                    {% else %}
                      <td>None</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="hiddenSelectedTable" style="visibility: none;"> 
</div>

<!-- Confirm action modals -->
{% confirm_modal "assignee" %}
{% confirm_modal "priority" %}
{% confirm_modal "status" %}
{% confirm_modal "delete" %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/table2csv@1.1.3/src/table2csv.js" integrity="sha384-vVCd7tQ0g9opUDOT/X+Dsb5u1xXL/2bhtBkeV4TWA0/x5lDgMNyl/YqrEFMMPUZL" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript">

  // Modify selected tasks menu
  function showMenuItem(selectedMenuItem) {
      const menuItems = ["assignee", "priority", "status"];
      for (let menuItem of menuItems) {
          document.getElementById(menuItem + "-input").classList.add("d-none");
          document.getElementById(menuItem + "-button").classList.add("d-none");
      }
      document.getElementById(selectedMenuItem + "-input").classList.remove("d-none");
      document.getElementById(selectedMenuItem + "-button").classList.remove("d-none");
  }

  // Collect selected tasks into an array
  function getSelectedTasks(){
    let selectedRows = $( '#summary-table' ).find( 'tbody' ) // select table body and
      .find( 'tr' ) // select all rows that has
      .has( 'input[type=checkbox]:checked' ); // checked checkbox element
    let ret = [];
    for (let i = 0; i < selectedRows.length ; i++) {
      ret.push(selectedRows[i].children[0].firstChild.defaultValue);
    };
    return ret;
  }

  function filterBy(namespace) {
    let table = $("#summary-table").dataTable();
    table.fnFilter(namespace);
  }

  $(document).ready(function() {

    // Create data table
    let summary_table = $('#summary-table').DataTable({
      "columnDefs": [
        {
          "targets": 0,
          "orderable": false
        },
        {
          "targets":3,
          "visible":false
        },
      ],
      lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        stateSave: true,
    });

    // Select all checkbox
    $('input[name=selectAll]').change(function(){
      if ($(this).is(':checked')) {
        $('#summary-table input[name=selected_tasks]').each(function(){
          if ($(this).is(':checkbox') && !$(this).is(":checked")) {
            $(this).prop( "checked", true );
          } 
        })
      } else {
        $('#summary-table input[name=selected_tasks]').each(function(ele){
          if ($(this).is(':checkbox') && $(this).is(":checked")) {
            $(this).prop( "checked", false );
          } 
        })
      }
    });

    // Export as CSV Button for detailed results
    const exportButton = document.getElementById("exportBtn");
    exportButton.addEventListener('click', (e) => {

      // Construct filename
      const username = "{{username}}";

      // If no tasks are selected the default is to download all tasks
      if (getSelectedTasks().length == 0){
        const filename = username + '_' + Date.now() + '.csv';
        $('#summary-table').table2csv('download', {'filename': filename});

      // Otherwise, download only the tasks that were selected
      } else {
        let filteredTable = $('#summary-table').clone()[0] // make a copy of the visible table to edit and export
        filteredTable.id = 'userSelectedTable'; 
        const selectedRows = $( '#summary-table' ).find( 'tbody' ) // select table body and
            .find( 'tr' ) // select all rows that has
            .has( 'input[type=checkbox]:checked' ); // checked checkbox element
        for (let i = 0; i <  $( '#summary-table' ).find( 'tbody' ).find( 'tr' ).length; i++) {
            filteredTable.deleteRow(1);
        };
        $('#hiddenSelectedTable').html(filteredTable);
        for (let i = 0; i < selectedRows.length; i++){
            $('#hiddenSelectedTable tr:last').after('<tr>'+selectedRows[i].innerHTML+'</tr>');
        }
        const filename = username + '_' + Date.now() + '_selectedTasks.csv';
        $('#userSelectedTable').table2csv('download', {'filename': filename});
      }
    });

    // Filter by namespace if needed
    filterBy('{{filter}}');

  });

</script>
{% endblock %}
